.red-box
  .left-side  
  %span.left-text My Evaluations
  .progress
    %ul
      %li
        %span Contestants
        %span.white #{contestant_count_for_user(current_user)}
      %li
        %span # Evaluated
        %span.white #{current_user.evaluations.count}
      %li
        %span % Evaluated
        %span.white #{percentage_evaluated(current_user)}
    .cl  
    .progress-bar
      %span{:style => "width: #{percentage_evaluated(current_user)};"}  
  .right-side  
  .cl  
