= render "users/score"
/ main content area
.shell.interior
  .main
    .main-t
    .main-c
      - if @evaluations.present?
        = render "evaluations/moguls", evaluations: @evaluations
      - else
        %div.empty
          %h3 You haven't evaluated any contestants yet.
          %h3= link_to "Start evaluating!", root_path
    .main-b.main-b-edit
/ end main content area
.loading-more
  %p Loading More Contestants...