= render "users/score"
/ main content area
.shell.interior
  .main
    .main-t
    .main-c
      - if @evaluations.present?
        = render "evaluations/musicians", evaluations: @evaluations
    .main-b.main-b-edit
/ end main content area
.loading-more
  %p Loading More Contestants...