= render "users/score"
/ main content area
.shell.interior
  .main
    .main-t
    .main-c
      - if @evaluations.present?
        = render "evaluations/musicians", evaluations: @evaluations
      - else
        %div.empty
          %h3 Your audition evaluations will be listed here.
          %h4 Check back soon to view them.
    .main-b.main-b-edit
/ end main content area
.loading-more
  %p Loading More Contestants...