<script type="text/javascript">
  $(document).ready(function() {
    $('a[href="#popup"]').click();
  })
</script>

<div class="heading">
  <h2>Sign up</h2>
</div>

<a href="#popup" class="lightbox">Click here to sign up</a>
