%script#sign_confirm{type: "text/html"}
  .popup.sign-confirm{"data-entry-id" => "{{id}}"}
    %h2 Confirm Artist Signing
    .artist-overview
      %a{:href => "#"}
        %img{:alt => "", :src => "{{photo_url}}"}/
      %h3
        %a{:href => "#"}
          {{stage_name}}
      %p
        %span.genre> {{genre}}
        {{hometown}}
        %br>/
        My Evaluations
        %span {{evaluation}}
    .warning-msg
      %h3
        Are you sure you want to {{stage_name}}
      %p You will have {{contracts_remaining}} contracts remaining to sign other artists.
    .sign-buttons.clearfix
      = link_to "Confirm", "{{create_contract_path}}", method: :post, remote: true, class: "btn confirm"
      %a.btn.btn-grey{:href => "#"} Cancel