%table
  %thead
    %tr
      %th #
      %th Date
      %th Username
  %tbody
    - @invited_users.each_with_index do |user, index|
      %tr
        %td= index
        %td= user.created_at
        %td= user.username
