@font-face {
	font-family: 'IstokItalic';
	src: url('../fonts/istok-italic-webfont.eot');
	src: url('../fonts/istok-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/istok-italic-webfont.woff') format('woff'),
		url('../fonts/istok-italic-webfont.ttf') format('truetype'),
		url('../fonts/istok-italic-webfont.svg#IstokItalic') format('svg');
}
@font-face {
	font-family: 'IstokBoldItalic';
	src: url('../fonts/istok-bolditalic-webfont.eot');
	src: url('../fonts/istok-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/istok-bolditalic-webfont.woff') format('woff'),
		url('../fonts/istok-bolditalic-webfont.ttf') format('truetype'),
		url('../fonts/istok-bolditalic-webfont.svg#IstokBoldItalic') format('svg');
}
@font-face {
	font-family: 'IstokBold';
	src: url('../fonts/istok-bold-webfont.eot');
	src: url('../fonts/istok-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/istok-bold-webfont.woff') format('woff'),
		url('../fonts/istok-bold-webfont.ttf') format('truetype'),
		url('../fonts/istok-bold-webfont.svg#IstokBold') format('svg');
}
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bebasneue-webfont.woff') format('woff'),
		url('../fonts/bebasneue-webfont.ttf') format('truetype'),
		url('../fonts/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
}
@font-face {
	font-family: 'SnicklesRegular';
	src: url('../fonts/snickles-webfont.eot');
	src: url('../fonts/snickles-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/snickles-webfont.woff') format('woff'),
		url('../fonts/snickles-webfont.ttf') format('truetype'),
		url('../fonts/snickles-webfont.svg#SnicklesRegular') format('svg');
}
@font-face {
	font-family: 'IstokRegular';
	src: url('../fonts/istok-regular-webfont.eot');
	src: url('../fonts/istok-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/istok-regular-webfont.woff') format('woff'),
		url('../fonts/istok-regular-webfont.ttf') format('truetype'),
		url('../fonts/istok-regular-webfont.svg#IstokRegular') format('svg');
}
html{
	background:url(../images/bg-page.gif);
	height:100%;
}
body{
	margin:0;
	color:#000;
	background: url(../images/bg-page-1.gif) repeat-y 50% 0;
	font:18px/20px 'IstokRegular', Arial, Helvetica, sans-serif;
	min-width:1003px;
}
img{border-style:none;} 
a{
	text-decoration:none;
	color:#0577b8;
}
a:hover{text-decoration:underline;}
input, textarea, select{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form, fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	overflow:hidden;
	width:100%;
	position:relative;
	background:url(../images/bg-w1.gif);
}
.w1{
	background:url(../images/bg-wrapper.jpg) repeat-y 50% 0;
	overflow:hidden;
	width:100%;
	position:relative;
	padding:0 0 20px;
}
#header{
	width:962px;
	margin:0 auto 14px;
}
#header:after{
	display:block;
	clear:both;
	content:'';
}
#header .header-holder{
	float:left;
	width:532px;
	margin:12px 0 0 -24px;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	width:222px;
	height:138px;
	text-indent:-9999px;
	overflow:hidden;
	float:left;
	margin:0 20px 0 0;
}
.logo a{
	display:block;
	height:100%;
}
.slogan{
	color:#2e2e2e;
	font:26px/31px 'SnicklesRegular', Arial, Helvetica, sans-serif;
	padding:39px 0 0;
	display:block;
}
.slogan span{
	display:block;
	color:#0577b8;
}
#header .panel{
	float:right;
	width:439px;
}
#header .panel .block{
	background:url(../images/bg-block.png) no-repeat 100% 1px;
	margin:0 -1px 3px 0;
	padding:0 8px 0 0;
}
#header .panel .block:after{
	display:block;
	clear:both;
	content:'';
}
#header .panel .block-holder{
	float:right;
	background:url(../images/bg-block.png) no-repeat 0 100%;
	padding:0 28px 0 0;
}
.social-networks{
	margin:0;
	padding:8px 16px 12px 25px;
	list-style:none;
	float:left;
	border-right:1px solid #e2e3e2;
}
.social-networks li{
	float:left;
	margin:0 0 0 4px;
}
.social-networks li a{
	width:16px;
	height:16px;
	display:block;
	overflow:hidden;
	background:url(../images/social-networks.gif) no-repeat;
	text-indent:-9999px;
}
.social-networks li:first-child{margin:0;}
.social-networks .twitter{background-position:-20px 0;}
.social-networks .email{background-position:-40px 0;}
.social-networks .shareyhis{background-position:-60px 0;}
.block-holder .box{float:left;}
.log-in-nav{
	margin:0;
	padding:10px 0 0 31px;
	list-style:none;
	font:12px/14px 'IstokRegular', Arial, Helvetica, sans-serif;
	overflow:hidden;
	height:1%;
}
.log-in-nav li{
	float:left;
	margin:0 0 0 32px;
}
.log-in-nav li:first-child{margin:0;}
.log-in-nav li a{color:#0577b8;}
.account-box{
	height:1%;
	position:relative;
	padding:4px 0 13px 12px;
	font:12px/14px 'IstokRegular', Arial, Helvetica, sans-serif;
	display:none;
}
.account-box:after{
	display:block;
	clear:both;
	content:'';
}
.account-box:hover .drop {display:block;}
.account-box .user{
	display:block;
	color:#0577b8;
	overflow:hidden;
	height:1%;
}
.account-box .user img{
	float:left;
	margin:4px 10px 0 0;
}
.account-box .user span{
	padding:5px 34px 0 0;
	background:url(../images/arrow-02.gif) no-repeat 100% 60%;
	cursor:pointer;
	display:block;
	overflow:hidden;
	height:1%;
}
.drop{
	position:absolute;
	right:-34px;
	top:36px;
	background:url(../images/bg-drop.png) no-repeat;
	width:281px;
	padding:11px 0 0;
	display:none;
	z-index:100;
}
.drop .holder{
	background:url(../images/bg-drop.png) no-repeat 100% 100%;
	padding:0 0 11px;
}
.drop .frame{
	background:url(../images/bg-drop.png) repeat-y -281px 0;
	overflow:hidden;
	padding:10px 20px 8px;
	font:12px/14px 'IstokRegular', Arial, Helvetica, sans-serif;
}
.drop .frame .foto{
	width:79px;
	float:left;
	margin:2px 20px 0 0;
}
.drop .frame .foto img{
	display:block;
	margin:0 0 10px;
	border:1px solid #d7d7d7;
}
.drop .frame .list{
	overflow:hidden;
	margin:0;
	padding:0;
	list-style:none;
	height:1%;
}
.drop .list li{
	border-bottom:1px solid #e5e5e5;
	padding:6px 0;
}
.drop .list li a{color:#0577b8;}
#nav{
	margin:0;
	padding:0 0 0 85px;
	list-style:none;
	overflow:hidden;
	background:url(../images/bg-shadow.png) no-repeat 0 100%;
	font:18px/20px 'IstokRegular', Arial, Helvetica, sans-serif;
	text-align:center;
	width:354px;
}
#nav li{
	display:inline-block;
	margin:0 0 0 55px;
	padding:30px 0;
	position:relative;
}
*+html #nav li{display:inline;}
#nav li:first-child{margin:0;}
#nav li a:hover,
#nav .active a{
	color:#439ce7;
	text-decoration:none;
}
#nav li a{
	color:#757575;
	display:block;
	height:1%;
}
#nav li .arrow{
	position:absolute;
	bottom:999px;
	left:50%;
	text-indent:-9999px;
	background:url(../images/arrow-01.png) no-repeat 50% 100%;
	width:16px;
	overflow:hidden;
	height:10px;
	margin:0 0 0 -13px;
}
#nav li a:hover .arrow{bottom:0;}
#main{
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.carousel{
	overflow:hidden;
	width:100%;
	margin:0 0 17px;
}
.carousel .frame{
	width:960px;
	margin:0 0 -2px;
	overflow:hidden;
	position:relative;
}
.carousel .slide-list{
	margin:0;
	padding:0;
	list-style:none;
	width:99999px;
	overflow:hidden;
}
.carousel .slide-list li{
	float:left;
	width:832px;
	padding:39px 60px  20px 68px;
	position:relative;
	height:324px;
}
.carousel .slide-list .slide-1{background:url(../images/bg-gallery.png) no-repeat;}
.carousel .slide-list .slide-2{background:url(../images/bg-gallery-2.png) no-repeat;}
.carousel .slide-list .slide-3{background:url(../images/bg-gallery-3.png) no-repeat;}
.carousel .slide-list .slide-2 img{
	position:absolute;
	left:416px;
	top:26px;
}
.carousel .slide-list .slide-3 img{
	position:absolute;
	left:515px;
	top:48px;
}
.carousel .slide-3 .text-box{color:#292a2b;}
.carousel .text-box{
	width:313px;
	float:left;
	color:#fff;
	font:18px/22px 'IstokRegular', Arial, Helvetica, sans-serif;
	padding:18px 0 0;
}
.carousel .text-box h2{
	margin:0 0 18px;
	font:46px/48px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.carousel .text-box p{margin:0 0 47px;}
.carousel .text-box .signup{
	display:block;
	padding:8px 38px 10px 28px;
	background:url(../images/btn-6.png) no-repeat;
	color:#0577b8;
	font:25px/27px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	width:100px;
}
.carousel .text-box .signup:hover{
	text-decoration:none;
	color:#439ce7;
	background-position:0 100%;
}
.carousel .text-box .preview{
	display:block;
	padding:8px 56px 12px 20px;
	background:url(../images/btn-2.png) no-repeat;
	color:#fff;
	font:25px/27px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	width:100px;
}
.carousel .text-box .preview:hover{
	text-decoration:none;
	background-position:0 -47px;
}
.carousel .text-box .learn-more{
	display:block;
	padding:8px 45px 12px 22px;
	background:url(../images/btn-2.png) no-repeat;
	color:#fff;
	font:25px/27px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	width:100px;
}
.carousel .text-box .learn-more:hover{
	text-decoration:none;
	background-position:0 -47px;
}
.carousel .player-box{
	float:right;
	background:url(../images/video.png) no-repeat -1px 0;
	padding:5px 12px 33px;
}
.switcher{
	overflow:hidden;
	width:100%;
}
.switcher ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	width:100%;
	text-align:center;
}
.switcher li{
	display:inline-block;
	overflow:hidden;
	margin:0 0 0 3px;
}
*+html .switcher li{display:inline;}
.switcher li a{
	background:url(../images/bullet.png) no-repeat 100% 0;
	width:16px;
	height:17px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.switcher .active a,
.switcher li a:hover{background-position:0 0;}
.info-box{
	overflow:hidden;
	width:100%;
	background:url(../images/bg-info-box.png) no-repeat 100% 100%;
	padding:0 0 12px;
}
.info-box .holder{
	background:url(../images/bg-info-box.png) repeat-y -960px 0;
	overflow:hidden;
	width:100%;
}
.info-box .frame{
	background:url(../images/bg-info-box.png) no-repeat;
	padding:18px 0 12px 8px;
	overflow:hidden;
	height:1%;
}
.info-box .box{
	float:left;
	width:388px;
	padding:17px 42px 22px;
	text-align:center;
	font:18px/21px 'IstokRegular', Arial, Helvetica, sans-serif;
	border-left:1px solid #ccc;
}
.info-box .box p{margin:0 0 24px;}
.info-box .box:first-child{border:none;}
.info-box .box h3{
	background:url(../images/bg-title.gif) repeat-x 0 50%;
	text-align:center;
	text-transform:uppercase;
	font:25px/27px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	margin:0 0 10px;
}
.info-box .box h3 span{
	background:#fff;
	padding:0 15px;
}
.info-box .box img{
	display:block;
	margin:0 auto 9px;
}
.info-box .box .link-1{
	width:113px;
	background:url(../images/btn-5.png) no-repeat;
	display:block;
	color:#fff;
	font:22px/24px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	padding:7px 15px 8px 5px;
	margin:0 auto;
}
.info-box .box .link-1:hover{
	text-decoration:none;
	background-position:0 100%;
}
.info-box .box .link-2{
	width:160px;
	background:url(../images/btn-4.png) no-repeat;
	display:block;
	color:#fff;
	font:22px/24px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	padding:7px 15px 8px 5px;
	margin:0 auto;
}
.info-box .box .link-2:hover{
	background-position:0 100%;
	text-decoration:none;
}
#footer{
	width:961px;
	margin:0 auto;
	overflow:hidden;
	padding:23px 0;
}
#footer .panel{
	overflow:hidden;
	background:url(../images/footer-panel.png) no-repeat;
	padding:4px 0 0;
}
#footer .panel .holder{
	overflow:hidden;
	background:url(../images/footer-panel.png) no-repeat -1924px 100%;
	padding:0 0 4px;
}
#footer .panel .frame{
	overflow:hidden;
	background:url(../images/footer-panel.png) repeat-y -961px 100%;
	padding:7px 32px 9px;
	font:14px/16px 'IstokRegular', Arial, Helvetica, sans-serif;
}
#footer .panel span{
	margin:17px 14px 0 0;
	color:#333;
	float:left;
}
#footer .panel a {display:block;}
#footer .panel a img{vertical-align:top;}
#footer .bar{
	overflow:hidden;
	width:958px;
	padding:22px 2px 0 0;
	text-align:right;
	color:#333;
	font:14px/16px 'IstokRegular', Arial, Helvetica, sans-serif;
}
#footer .bar p{margin:0 0 10px;}
.add-nav-box{
	float:left;
	background:url(../images/bg-add-nav.png) no-repeat 100% 100%;
	padding:0 8px 0 0;
	text-align:left;
	margin:-5px 0 0;
}
.add-nav{
	margin:0;
	padding:8px 9px 8px 16px;
	list-style:none;
	overflow:hidden;
	height:1%;
	font:14px/16px 'IstokRegular', Arial, Helvetica, sans-serif;
	background:url(../images/bg-add-nav.png) no-repeat;
}
.add-nav li{
	float:left;
	margin:0 0 0 37px;
}
.add-nav li:first-child{margin:0;}
.add-nav li a{color:#0577b8;}
