- if user_signed_in?
  = render "users/score"
.shell.interior
  .main.tabs-section
    .main-t.tabs-nav
      %ul.clearfix
        %li
          %a{:href => "#"} Contestants
          %span.overlay
        %li
          %a{:href => "#"} Moguls
          %span.overlay
        - if Contest.active.try(:show_anonymous_leaderboard?)
          %li.anonymous
            Contestants hidden until judging ends (#{Contest.active.end_date.strftime("%m/%d/%y")})
    .main-c.tabs
      .tab.musicians
        = render "users/leaderboard/musicians", musicians: @musicians
      .tab.fans.leader-board
        = render "users/leaderboard/fans", fans: @fans
    .main-b.main-b-edit
/ end main content area