.main.shell
  .main-t
  .main-c
    .sign-up
      %h2 Sign Up
      .sign-up-options.clearfix
        .sign-up-option
          %a.btn{:href => "#{new_user_registration_path(type: "fan")}"} Fans
          %p Sign up to <span>judge</span>
        .sign-up-option
          %a.btn{:href => "#{new_user_registration_path(type: "musician")}"} Artists
          %p Sign up to <span>compete</span>
  .main-b