.main.shell
  .main-t
  .main-c
    .sign-up-steps
      %h2 Sign Up
      %p.meta Reserve Your Place As A #{session[:musician] ? "Contestant" : "Contest Judge"}
      .steps-nav.clearfix
        %ul
          %li
            %small.number 1
            %span
              User
              %br>/
              Info
          %li.active
            %small.number 2
            %span
              Verify
              %br>/
              Email
          - if session[:musician]
            %li
              %small.number 3
              %span
                Contestant
                %br>/
                Info
      .email-verify
        %h2
          Check Your Inbox For
          = succeed "Our" do
            %br/
          Verification Email
  .main-b
