.login-holder.login-holder2
  %span.sign-in-title Forgot Password?
  %p Enter the email you used to sign up. We’ll send instructions to reset your password.
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
    = f.input :email, input_html: { class: "field" }
    = f.submit "Send Password Reset Instructions", class: "submit submit3"
  .cl