#contestant-block
  #contestant-heading
    %h2 The Contestants
    %h5 Check out who's already signed up
  .clear

  #contestant-photos
    - @entries.each do |entry|
      .photobox
        = image_tag entry.profile_photo.url(:masonry)
        .artist= entry.stage_name
