.clock{"data-end-date" => (Time.zone.parse("1/13/2012")).to_i, "data-now" => Time.now.to_i, "data-seconds" => Time.now.strftime("%S")}
  / Days
  .clock_days.clock_box
    .bgLayer
      .topLayer
      %canvas#canvas_days{:height => "188", :width => "188"}
      .text
        %p.val 0
        %p.type_days Days
  / Days
  / Hours
  .clock_hours.clock_box
    .bgLayer
      .topLayer
      %canvas#canvas_hours{:height => "188", :width => "188"}
      .text
        %p.val 0
        %p.type_hours Hours
  / Hours
  / Minutes
  .clock_minutes.clock_box
    .bgLayer
      .topLayer
      %canvas#canvas_minutes{:height => "188", :width => "188"}
      .text
        %p.val 0
        %p.type_minutes Minutes
  / Minutes
  / Seconds
  .clock_seconds.clock_box
    .bgLayer
      .topLayer
      %canvas#canvas_seconds{:height => "188", :width => "188"}
      .text
        %p.val 0
        %p.type_seconds Seconds
  / Seconds
  .cl  