#referrals  
  #button-block
    %h4
      - if current_user.musician
        Invite your followers!
      - else
        Invite your friends!
    #referral-button.homepage-button Click to copy referral link

  - if current_user.musician     
    #referral-text.musician
      Increase your chance of winning!  Use your referral link to invite your followers.  The first 25 to register using your link can judge the contest.
      = image_tag "question-mark-sm.png", class: "question-mark tooltip", title: "We're making our first few contests invite-only to recruit musicians and fans who are dedicated to helping us get Music Mogul right.  We're building and refining lots of features and not everything will go perfectly.  Use your referral link to invite people who will not only benefit from or enjoy MusicMogul, but who want to help us build the game and community.  Anyone who registers after your allotment has been reached can monitor the contest and will be invited to participate in future contests.  Thanks!"

  - else
    #referral-text.fan Make the contest better!  Use the referral link to invite a few friends.  The first 5 to register can also judge the contest.
    = image_tag "question-mark-sm.png", class: "question-mark tooltip", title: "We're making our first few contests invite-only to recruit musicians and fans who are dedicated to helping us get Music Mogul right.  We're building and refining lots of features and not everything will go perfectly.  Use your referral link to invite people who will not only benefit from or enjoy MusicMogul, but who want to help us build the game and community.  Anyone who registers after your allotment has been reached can monitor the contest and will be invited to participate in future contests.  Thanks!"
