- if @inviter
  %h4#invited-by Invited by #{@inviter.username}
#sign-up
  %h3 Sign Up!
  = link_to "Musician", new_user_registration_path(type: "musician"), class: "sign-up"
  = link_to "Fan", new_user_registration_path(type: "fan"), class: "sign-up"
.clear

%h5#sign-up-detail
  Sign up as either a
  %span.highlight musician
  to compete in the contest, or a
  %span.highlight fan
  to judge it.
