<div class="popup-holder">
  <div id="home-video-popup">
    <a href="#"><video id="home-video" class="video-js vjs-default-skin" controls
      preload="auto" width="840" height="515" data-setup="{}">
      <source src="<%= video_path 'https://s3.amazonaws.com/fanhelp.mvp/uploads/fha/FHA_Demo_Video.mp4' %>" type="video/mp4">
      <source src="<%= video_path 'https://s3.amazonaws.com/fanhelp.mvp/uploads/fha/FHA_VideoTest_360_02_theora.ogv' %>" type="video/ogv">
    </video></a>
  </div>
</div>
