.main.shell
  .main-t
  .main-c.terms
    %h1 Contest Rules

    %p.title About Music Mogul
    %p Music Mogul strives to become the online community where music fans collaborate to discover and launch tomorrow’s star singers, bands, and producers.
    %p Our vision is to evolve Music Mogul into an online and mobile game, based on high-stakes, multi-week talent contests. Fans will earn points, recognition, and prizes for judging, discovering, and promoting the contestants. Musicians will get opportunities to perform, meet new fans, and earn prizes and cash as they advance through the contests. Ultimately, we want to create groundswells that bring national press and music industry attention to the musicians and fans who win our contests.
    %p This is the first Music Mogul contest. It’s a limited version (beta) of our vision that’s designed to introduce Music Mogul and to get fan feedback (make a suggestion or email us). If musicians and fans like the concept, we’ll run more contests with additional features and larger prize pools.

    %p.title Rules For Moguls (music fans)
    %ol
      %li Sign up and complete your profile.
      %li Invite up to 10 friends to help judge the contest. You get 500 points for each friend who registers using your referral link. You could score 25% of the points you need to win the contest just through the invitations. Please invite only hard-core music fans. We’re looking for fans who want to discover and help new bands, and will help make Music Mogul better. You can find your referral link on the Home or My Friends page.
      %li Audition the contestants. You get 250 points for each audition you complete. Watch and then evaluate the music videos based on the music, vocals, and presentation. You could score 25% of the points you need to win the contest by evaluating all the contestants. You can find your evaluation queue on the Auditions page.
      %li Sign the 5 contestants you think are the best. You get the sum of the points earned by the contestants you sign. You’ll earn about 50% of your points from your signees, so sign carefully! You can sign contestants after you audition them, or on the My Evaluations page.
      %li Follow your standing in the contest using your personal scorecard (at the top of the My Evaluations page). Expand (click the bottom of) your scorecard to see the breakdown of points you’ve earned from invitees, auditions, and signees (the contestants you’ve signed).
      %li Check your inbox for contest updates.
      %li Check the Contestant and Mogul Leader Boards, which we’ll turn on after judging ends on 4/7/13 to see how you and the contestants you signed did in the contest.
      %li The 10 Moguls with the highest scores will earn prizes. The prizes will consists of cool gifts from the contestants and Amazon gift cards.

    %p.title Rules For Contestants (artists)
    %ol
      %li Sign up and complete your profile. Your profile must include a link to a YouTube music video that features you and your music. The Moguls will use the video to audition you. The evaluation criteria are music, vocals, and presentation. Also, be sure to include a profile picture, a descriptive bio, and your social network links. These help the fans meet and get to know you.
      %li Invite up to 25 fans to judge the contest. You get 30 points (the equivalent of 3 perfect evaluations) for each fan who registers using your referral link. The contest is invite-only, and the more fans you have judging the contest, the better your chances are of winning the prizes. You can earn up to 25% of the points you need to win the contest through your invitations. You can find your referral link on the Home or My Friends page.
      %li Review the audition evaluations from the Moguls. Your audition points will be the sum of the average score given to you from all of your evaluations. You can find your evaluations on your My Evaluations page.
      %li Follow your standing in the contest using your personal scorecard (at the top of the My Evaluations page). Expand (click the bottom of) your scorecard to see the breakdown of points you’ve earned from invitees and auditions.
      %li Check your inbox for contest updates.
      %li Check the Contestant and Mogul Leader Boards, which we’ll turn on after judging ends on 4/7/13 to see how you did in the contest. We’ll distribute the prizes on 4/8/13.

    %p.title Contestant Prizes
    %ul
      %li 1st place - $150
      %li 2nd place - $100
      %li 3rd place - $50

    %p.title Contest Schedule
    %table
      %thead
        %tr
          %td Date
          %td Activity
      %tbody
        %tr
          %td 3/30
          %td Site opens for registration
        %tr
          %td 4/2
          %td
            Judging begins
            %ul
              %li no new contestant registrations
              %li mogul (fan judge) registrations allowed who are invited by existing contestant and mogul players
        %tr
          %td 4/7
          %td Judging ends, and the contestant and mogul leader boards are turned on
        %tr
          %td 4/8
          %td Winners announced and prizes distributed
  .main-b