.main.shell
  .main-t
  .main-c.terms
    %h1 Contest Rules

    %p.title About Music Mogul
    %p Music Mogul is a new online music talent contest judged by fans.
    %p Our mission is to give music fans the ultimate fan experience of discovering new musical acts that have the potential to be national stars. Early fan support is critical to artist success, and every true music fan wants to know and support great artists from the start of their career.
    %p Welcome to our first (beta) contest! This contest is dedicated to Hip/Hop artists. Later contests will be open to the other musical genres.

    %p.title Rules For Moguls (music fans)
    %ol
      %li Sign up and complete your profile.
      %li Audition the contestants. You get 250 points for each audition you complete. Watch and then evaluate the music videos based on the music, vocals, and presentation. You can find your evaluation queue on the Auditions page.
      %li Sign the 5 contestants you like the most. You get the sum of the points earned by the contestants you sign. Sign carefully! The majority of your points come from the artists you sign. You can sign contestants after you audition them, or on your My Evaluations page.
      %li If you find an artist you like, invite up to 10 friends to meet the artist and to help judge the contest. You get 500 points for each friend who registers using your referral link. You can find your referral link on your My Friends page.
      %li Follow your standing in the contest using your personal Scorecard (at the top of your My Evaluations page). Expand (click the bottom of) your Scorecard to see the breakdown of points you’ve earned from invitees, auditions, and signees.
      %li Check your inbox for contest updates.
      %li Check the Contestant and Mogul Leader Boards, which we will turn on after judging ends on 4/10/13 to see how you and the contestants you signed did in the contest.
      %li The 10 Moguls with the highest scores will be featured on our Leader Board page and in our newsletter as our first Hip/Hop Mogul Champions.

    %p.title Mogul Prizes
    %ul
      %li Most referral points - $25 Amazon Gift Card (overall score will be used to break ties)
      %li Invite the winning artists - $25 Amazon Card
      %li Top 10 scoring Moguls will be featured on the Leader Board page and in the Music Mogul newsletter as our first Hip/Hop Mogul Champions

    %p.title Rules For Contestants (artists)
    %ol
      %li Sign up and complete your profile. Your profile must include a link to a YouTube music video that features you and your music. The Moguls will use the video to audition you. The evaluation criteria are music, vocals, and presentation. Also, be sure to include a profile picture, a descriptive bio, and your social network links. These help the fans meet and get to know you. You can also include a link to a free track download to show appreciation to your new fans.
      %li Invite up to 25 fans to judge the contest. You get 30 points (the equivalent of 3 perfect evaluations) for each fan who registers using your referral link. The contest is invite-only, and the more fans you have judging the contest, the better your chances are of winning. You can earn up to 25% of the points you need to win the contest through your invitations. You can find your referral link on the Home or My Friends page.
      %li Review the audition evaluations from the Moguls. Your audition points will be the sum of the average score given to you from all of your evaluations. You can find your evaluations on your My Evaluations page.
      %li Follow your standing in the contest using your personal Scorecard (at the top of the My Evaluations page). Expand (click the bottom of) your Scorecard to see the breakdown of points you’ve earned from invitees and auditions.
      %li Check your inbox for contest updates.
      %li Check the Contestant and Mogul Leader Boards, which we’ll turn on after judging ends on 4/10/13 to see how you did in the contest. We’ll distribute the prizes on 4/11/13.

    %p.title Contestant Prizes
    %ul
      %li 1st place - $150
      %li 2nd place - $100
      %li 3rd place - $50
      %li Most referral points - $25 Amazon Gift Card (overall score will be used to break ties)

    %p.title Contest Schedule
    %table
      %thead
        %tr
          %td Date
          %td Activity
      %tbody
        %tr
          %td 3/30
          %td Site opens for registration
        %tr
          %td 4/5
          %td Judging begins
        %tr
          %td 4/10
          %td Judging ends, and the contestant and mogul leader boards are turned on
        %tr
          %td 4/11
          %td Winners announced and prizes distributed
  .main-b