.main.shell
  .main-t
  .main-c.terms
    %h1 Contest Rules

    %p.title About Music Mogul
    %p Music Mogul is a new fantasy music game, based on an online music talent contest. Our mission is to give music fans the ultimate fan experience of discovering new musical acts that are soon to be national stars. Early fan support is critical to artist success, and true music fans want to be in on the launch of the careers of great artists.
    %p Welcome to our first (beta) contest! This contest is dedicated to Hip/Hop artists. Later contests will be open to other music genres. The goal of this beta is to test our software with a small group of personally invited artists and fans before rolling out the game to the general public.
    %p Please send any questions to support@MusicMogul.com.

    %p.title Contest Schedule (all times 12 PM EST)
    %table
      %thead
        %tr
          %td Date
          %td Activity
      %tbody
        %tr
          %td 3/30
          %td Contest opens for registration
        %tr
          %td 4/5
          %td Judging begins
        %tr
          %td 4/11
          %td Registration ends for artists
        %tr
          %td 4/14
          %td Judging ends. Contestant and mogul leader boards turned on
        %tr
          %td 4/15
          %td Winners announced and prizes awarded

    %p.title Rules For Moguls (music fans)
    %ol
      %li Sign up and complete your profile.
      %li Audition the contestants. Watch the music videos in your audition queue and evaluate them based on their music, vocals, and presentation. You can find your audition queue on the Auditions page. You get 250 points for each audition you complete.
      %li Sign your favorite 5 contestants. You get the sum of the points earned by your 5 signees. You can sign a contestant at the end of an audition, or you can audition all the contestants first, and then sign your top 5 using your My Evaluations page. Sign carefully! Great Moguls identifying the top talent!
      %li If you find an artist you like, invite up to 10 friends to meet the artist and help judge the contest. You can find your referral link on your Auditions page and on your My Friends page. You get 500 points for each friend who registers using your referral link.
      %li Follow your standing in the contest using your personal Scorecard (at the top of your My Evaluations page). Expand (click the bottom of) your Scorecard to see the breakdown of points you’ve earned from invitees, auditions, and signees.
      %li Check your inbox for contest updates.

    %p.title Mogul Prizes
    %ul
      %li Top 10 scoring Moguls will be featured on the contest Leader Board page and in the Music Mogul newsletter as our first Hip/Hop Mogul Champions
      %li Top scorer - $25 Amazon Gift Card (drawing will be used to break ties)
      %li Most referral points - $25 Amazon Gift Card (overall score will be used to break ties)
      %li Invite the winning artists - $25 Amazon Card

    %p.title Rules For Contestants (artists)
    %ol
      %li Sign up and complete your profile. Your profile must include a link to a YouTube music video that features you and your music. The Moguls will use the video to audition you. The evaluation criteria are music, vocals, and presentation. Also, be sure to include a profile picture, a descriptive bio, and your social network links. These help the fans meet and get to know you. You can also include a link to a free track download to show appreciation to your new fans.
      %li Invite up to 25 fans to judge the contest. You get 30 points (the equivalent of 3 perfect evaluations) for each fan who registers using your referral link. The contest is invite-only, and the more fans you have judging the contest, the better your chances are of winning. You can earn up to 25% of the points you need to win the contest through your invitations. You can find your referral link on the Home or My Friends page.
      %li Review the audition evaluations from the Moguls. You can find your evaluations on your My Evaluations page. Your audition points will be the sum of the average score awarded to your evaluations.
      %li Follow your standing in the contest using your personal Scorecard (at the top of the My Evaluations page). Expand (click the bottom of) your Scorecard to see the breakdown of points you’ve earned from invitees and auditions.
      %li Check your inbox for contest updates.

    %p.title Contestant Prizes
    %ul
      %li 1st place - $150
      %li 2nd place - $100
      %li 3rd place - $50
      %li Most referral points - $25 Amazon Gift Card (overall score will be used to break ties)
  .main-b