= render "home/countdown"

.main.shell
  .main-t
  .main-c
    .contestants
      %h3 Registered Contestants
      .contestants-list.clearfix
        - @entries.each do |entry|
          .col
            .contestant-entry
              %a{href: "#"}
                = image_tag entry.profile_photo.url(:masonry)
                %span= entry.stage_name
  .main-b
