.main.shell
  .main-t
  .main-c
    .sign-up-steps.contact-form
      %h2 Contact Us
      %h5 Have a question? Send us a note!
      .form-section
        = simple_form_for :contact, url: contacts_path, anchor: "contact" do |f|
          .form-row.clearfix
            %label{:for => "contact-name"} Name
            %input#contact-name.field{name: "contact[name]", type: "text", value: ""}/
            %span.error Name is required
          .form-row.clearfix
            %label{:for => "contact-email"} Email
            %input#contact-email.field{name: "contact[email]", type: "text", value: ""}/
            %span.error Email is required
          .form-row.clearfix.labels-row
            %label.check
              %input{name: "contact[send_me_a_copy]", type: "hidden", value: "0"}
              %input{name: "contact[send_me_a_copy]", value: "1", checked: "checked", type: "checkbox"}/
              %span
              Send me a copy
          .form-row.clearfix
            %label{:for => "contact-subject"} Subject
            %input#contact-subject.field{:name => "contact[subject]", :type => "text", :value => ""}/
            %span.error Please enter a subject
          = f.input :message, as: :text, wrapper_html: { class: "form-row clearfix" }, input_html: { class: "field" }
          %input.btn{:type => "submit", :value => "Send"}/
  .main-b