= content_for(:bottom_of_header) do
  - if user_signed_in?
    = render "evaluations/progress"
  - else
    .red-box
      .left-side  
      %h2 Sign Up Or Sign In To Judge The Contest
      .right-side  
      .cl  

= render "entries/list", entries: @entries