.tabs
  %ul
    %li
      %a{:href => "#contact"} Contact Us
    %li
      %a{:href => "#terms"} Terms
    %li
      %a{:href => "#privacy"} Privacy
  .cl  
#contact.tab-box
  = render "home/contact"
#terms.tab-box
  = render "home/terms"
#privacy.tab-box
  = render "home/privacy"