<div id="home-video-popup">
  <a href="#"><video id="home-video" class="video-js vjs-default-skin" controls
    preload="auto" autoplay width="840" height="515" data-setup="{}">
    <source src="https://s3.amazonaws.com/fanhelp.mvp/uploads/fha/FHA_VideoTest_360_02_theora.ogv" type='video/ogg; codecs="dirac, speex"'>
    <source src="https://s3.amazonaws.com/fanhelp.mvp/uploads/fha/FHA_Demo_Video.mp4" type='video/mp4'>
  </video></a>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    _V_('home-video').ready(function() {
      this.play();
    });
  });
</script>

