<div class="player-box">
	<a href="#"><video id="my_video_1" class="video-js vjs-default-skin" controls autoplay
	  preload="auto" width="600" height="368" poster="my_video_poster.png"
	  data-setup="{}">
	  <source src="<%= video_path 'https://s3.amazonaws.com/fanhelp.mvp/uploads/fha/FHA_Demo_Video.mp4' %>" type='video/mp4'>
	</video></a>
</div>
