
<div class="breadcrumbs-holder">
	<ul id="breadcrumbs">
		<li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
		<li><span>Becoming a Contestant</span></li>
	</ul>
</div>
<div class="heading">
	<h2>Singers and bands</h2>
	<a href="#popup" class="signup-btn button lightbox">Signup now</a>
	<div class="title-box">
		<span class="decor">&nbsp;</span>
		<span class="title">Becoming a Contestant</span>
	</div>
</div>
<div class="twocolumns">
	<div class="column">
		<div class="step-box">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="info">
							<span class="number">1</span>
							<div class="text-box">
								<h3><a href="#">Signup</a></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="step-box">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder img-holder-2">
							<img src="/assets/img-07.png" alt="image description" width="395" height="160" />
						</div>
						<div class="info">
							<span class="number">3</span>
							<div class="text-box">
								<h3><a href="#">Get feedback</a> from judges</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="step-box">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder img-holder-3">
							<img src="/assets/img-08.png" alt="image description" width="287" height="180" />
						</div>
						<div class="info">
							<span class="number">5</span>
							<div class="text-box">
								<h3><a href="#">Win</a> gifts and prizes</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="step-box step-box-2">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder img-holder-4">
							<img src="/assets/img-06.png" alt="image description" width="252" height="159" />
						</div>
						<div class="info">
							<span class="number">2</span>
							<div class="text-box">
								<h3><a href="#">Upload video performances</a> that address weekly contest challenges</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="step-box step-box-2">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder">
							<img src="/assets/img-09.png" alt="image description" width="231" height="159" />
						</div>
						<div class="info">
							<span class="number">4</span>
							<div class="text-box">
								<h3><a href="#">Collaborate with fans</a> that like your performances</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="signup-box">
			<div class="signup-holder">
				<div class="signup-frame">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing.</p>
					<div class="btn-holder">
						<a href="#popup" class="signup-btn button lightbox">Signup now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vision-box">
	<h3><span class="mask">Our vision</span></h3>
	<ul class="vision-list">
		<li>
			<p>We believe building authentic relationships with fans is the best way for emerging artists to advance their careers.</p>
		</li><li>
			<p>One day, the average band that participates in our contest will win $1,000 and 500 new fans.</p>
		</li><li>
			<p>We don't believe the music industry status quo is fair or particularly empowering to artists.</p>
		</li><li>
			<p>We believe artists should receive a larger share of the economic value created by their talent.</p>
		</li>
	</ul>
</div>
