
<div class="breadcrumbs-holder">
	<ul id="breadcrumbs">
		<li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
		<li><span>Becoming a Judge</span></li>
	</ul>
</div>
<div class="heading">
	<h2>Fans</h2>
	<a href="#popup" class="signup-btn button lightbox">Signup now</a>
	<div class="title-box">
		<span class="decor decor-2">&nbsp;</span>
		<span class="title">Becoming a Judge</span>
	</div>
</div>
<div class="twocolumns">
	<div class="column">
		<div class="step-box">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="info">
							<span class="number">1</span>
							<div class="text-box">
								<h3><a href="#">Signup</a> and select the musical genres you will judge</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="step-box step-box-2">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder">
							<img src="/assets/img-09.png" alt="image description" width="231" height="159" />
						</div>
						<div class="info">
							<span class="number">3</span>
							<div class="text-box">
								<h3><a href="#">Meet and help</a> your favorite singers and bands to win the contest</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="step-box">
			<div class="step-holder">
				<div class="step-frame">
					<div class="step-content">
						<div class="img-holder img-holder-4">
							<img src="/assets/img-10.png" alt="image description" width="313" height="206" />
						</div>
						<div class="info">
							<span class="number">2</span>
							<div class="text-box">
								<h3><a href="#">Upload video performances</a> that address weekly contest challenges</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing. Vivamus neque urna, sodales et posuere eu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="signup-box">
			<div class="signup-holder">
				<div class="signup-frame">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et eros id mi gravida adipiscing.</p>
					<div class="btn-holder">
						<a href="#popup" class="signup-btn button lightbox">Signup now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vision-box">
	<h3><span class="mask mask-2">Our vision</span></h3>
	<div class="text-box">
		<p>We believe that exploration is a rewarding way to discover new music and performers.</p>
	</div>
</div>
