<div class="breadcrumbs-holder">
  <ul id="breadcrumbs">
    <li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
    <li><span>Preview Contestants</span></li>
  </ul>
</div>

<div class="page-box">
  <div class="heading">
    <h2>Preview Contestants</h2>
  </div>

  <div class="main">
    Preview Contestants info goes here...
  </div>
</div>

