<div class="breadcrumbs-holder">
  <ul id="breadcrumbs">
    <li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
    <li><span>Prize Pool</span></li>
  </ul>
</div>
 
<div class="prize-pool-box">
  <div class="heading">
    <h2>Prize Pool</h2>
    <div class="title-box">
		<span class="decor">&nbsp;</span>
    <span class="title">$1,000,000 Goal</span>
  </div>
  </div>

  <div id="main">
    <p>We're working to build a platform that launches the careers of tomorrow's national hitmakers, as well as thousands of independent artists who earn a fair living with their talent on a regional or local level. Our strategy is to develop lasting relationships between fans and artists, and to distribute significant amounts of cash to early stage performers, which is needed for equipment, recording, travel, marketing, legal, and other essential expenses.</p>
    <p>Our goal is to distribute $1,000,000 per year through our prize pools and support features. The economics of being a startup require us to start smaller and grow. However, at least until we reach our $1,000,000 distribution goal, we will make each contest as valuable to our users as possible by directing all revenues above our development costs to our prize pools.
    <p>We hope that our approach and commitment will inspire artists and fans to help us build a community that is useful, entertaining and that makes us all proud.</p>
    <p>Please help us by giving your best performances, making heartfelt critiques, giving lots of suggestions, and involving your friends.</p>
    <p>Warm Regards,</p>
    <p>&nbsp;</p>
    <div class="signature">
      <div class="name">Phyllip Hall</div>
      <div class="title">Founder, Fans Helping Artists</div>
    </div>
  </div>
</div>
