<div class="breadcrumbs-holder">
  <ul id="breadcrumbs">
    <li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
    <li><span>Sponsors</span></li>
  </ul>
</div>

<div class="sponsors-box">
  <div class="heading">
    <h2>Sponsors</h2>
  </div>

  <div id="main">
    <div class="introduction">
      Sponsors text goes here
    </div>
    <ul class="sponsors">
      <li>
        <%= image_tag 'sponsor-placeholder.png' %>
        <div class="sponsor-text">
          <h3>Sponsor 1</h3>
          Describe the sponsor here...
        </div>
        </li>
      <li>
        <%= image_tag 'sponsor-placeholder.png' %>
        <div class="sponsor-text">
          <h3>Sponsor 2</h3>
          Describe the sponsor here...
        </div>
      </li>
      <li>
        <%= image_tag 'sponsor-placeholder.png' %>
        <div class="sponsor-text">
          <h3>Sponsor 3</h3>
          Describe the sponsor here...
        </div>
      </li>
      
    </ul>
  </div>
</div>

