<div class="breadcrumbs-holder">
  <ul id="breadcrumbs">
    <li><a class="home" href="<%= root_path %>"><span>Home</span></a></li>
    <li><span>Sponsors</span></li>
  </ul>
</div>

<div class="sponsors-box">
  <div class="heading">
    <h2>Sponsors</h2>
  </div>

  <div id="main">
    <div class="introduction">
      Sponsors text goes here
    </div>
    <ul class="sponsors">
      <li>
        <%= link_to 'http://www.mrhandyman.com/' do %>
          <%= image_tag 'sponsor-placeholder.png' %>
        <% end %>
        <div class="sponsor-text">
          <h3><%= link_to 'Mr. Handyman', 'http://www.mrhandyman.com/' %></h3>
          Describe the sponsor here...
        </div>
        </li>
    </ul>
  </div>
</div>

