<%- if @artists.empty? -%>
  <p>There are no artists for that genre.</p>
<%- else  -%>
  <ul class="artists-list">
    <% @artists.each do |artist| -%>
      <li><a class="photo-holder" href="<%= preview_path(artist) %>">
        <% if artist.profile_photo_square.present? %>
          <%= image_tag artist.profile_photo_square.cropped, :width => '238', :height => '238' %>
        <% else %>
          No Image
        <% end %>
      </a></li>
    <% end -%>
  </ul>
<% end -%>
