<% content_for :head do -%>
<script>
$(document).ready(function() {
   $('#genre').change(function(){
     $.ajax({url: '/previews.js',
       data: 'genre=' + $(this).val(),
       success: function(data){
         return false;
         }
     })
   });
});
</script>
<% end -%>
<div class="breadcrumbs-holder">
	<ul id="breadcrumbs">
		<li><a class="home" href="index.html"><span>Home</span></a></li>
		<%- if params[:genre] -%>
		<li><a href="<%= previews_path %>"><span>Contestant Preview</span></a></li>
		<li><span><%= params[:genre] %></span></li>
	  <%- else -%>
	  <li><span>Contestant Preview</span></li>
		<% end -%>
	</ul>
</div>
<div class="peview-heading">
	<div class="heading-box">
		<h2>Preview contestants</h2>
		<p>Here are some of the artists already registered for the contest</p>
	</div>
	<div class="filter-box">
		<form action="#" class="filter-form">
			<fieldset>
				<div class="row">
          <%= select_tag "genre", options_for_select(Contest::GENRES), {:prompt => "Filter by genre"} %>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div id ="artists">
  <%= render :partial => "artists" %>
</div>



