<script type="text/javascript">
  $(document).ready(function() {
    $('a[href="#popup-2"]').click();
  })
</script>

<div class="heading">
  <h2>Log in</h2>
</div>

<a href="#popup-2" class="lightbox">Click here to log in</a>
