!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:src => '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js'}
    %script{:src => 'jquery.iframe-transport.js'}
    %script{:src => 'jquery.fileupload.js'}
    %script{:src => 'uploader.js'}
  %body
    %form#file_upload(action='' method='post' enctype='multipart/form-data')
      %input{:type => :hidden, :name => :key}
      %input{:type => :hidden, :name => 'AWSAccessKeyId'}
      %input{:type => :hidden, :name => :acl, value: 'public-read'}
      %input{:type => :hidden, :name => :success_action_status, :value => '201'}
      %input{:type => :hidden, :name => :policy}
      %input{:type => :hidden, :name => :signature}
      %input{:type => :file, :name => 'file', multiple: ''}

