body, div, ul, li, h1, h2, h3, h4, h5, h6, form, fieldset, p {padding:0;margin:0; font-weight:normal;}
*{margin:0; padding:0;}
img, fieldset{border:none;}
.curv{float:left; width:100%;}
.curv img{float:left;}
*:focus{outline:none;}
.clear{clear:both;}
body{ font-size:12px; line-height:17px; font-family: Arial, Helvetica, sans-serif;}

.wrapper{margin:0 auto; width:950px;}
#outer_header{ float:left; width:100%; background:image_url("common/header_repeat_bg.jpg") repeat-x 0 0}
#header{ float:left; width:100%; background:image_url("common/outer_header_bg.jpg") no-repeat top center; height:102px}
#header_details{ float:left; width:940px; padding: 0 5px 0 5px}
#header .logo{ float:left; width:auto; padding:15px 5px 15px 0}
#header .logo img{ float:left}
#header .logo_right{ float:left; width:auto; font-size:13px; color:#fff; line-height:16px; border-left: solid 1px #fff; margin:13px 0 0 0; padding: 12px 0 19px 12px; font-family: 'Open Sans', sans-serif; font-weight:300}
.header_right{ float:right; width:auto}
.header_right .sign_btn{ float:right; width:77px; margin:28px 0 0 0 }
.header_right .sign_btn a{ float:left; width:77px; background:image_url("common/red_btn.png") no-repeat 0 0; text-align:center; font-size:14px; color:#fff; line-height:19px; font-family: 'Open Sans', sans-serif; font-weight:300; text-decoration:none; padding:5px 0 6px 0}
.header_right .player_name{ float:left; width:auto; padding:25px 0 0 0}
.header_right .player_name .pic{ float:left; width:36px; height:36px; background:#b9b9b9}
.header_right .player_name .pic img{ float:left}
.header_right .player_name .pic_details{ float:left; width:auto; padding:10px 0 0 0; position: relative}
.header_right .player_name .pic_details a{ float:left; width:auto; font-size:14px; color:#fff; line-height:19px; background:image_url("common/drop_btn.png") no-repeat right 3px; padding: 0 20px 0 10px; text-decoration:none}

.pic_details .player_dropdown{ float:left; width:411px; position:absolute; right:-7px; top:40px}
.pic_details .player_drop_down_detials{ float:left; width:361px; background:image_url("common/drop_box_repeat_curve.png") repeat-y 0 0; padding:25px 25px}
.pic_details .player_drop_down_detials .pic_box{ float:left; width:150px; background:#f8f8f8; border: solid 1px #edeeee; height:148px}
.pic_details .player_drop_down_detials .pic_box img{ float:left}
.pic_details .player_drop_down_detials .list{ float:right; width:175px}
.pic_details .player_drop_down_detials .list ul{ float:left; width:100%; list-style:none}
.pic_details .player_drop_down_detials .list ul li{ float:left; width:100%; border-bottom: solid 1px #cacaca; font-size:13px; color:#000; line-height:19px; font-family: 'Open Sans', sans-serif; font-weight:300; padding:5px 0 10px 0}
.pic_details .player_drop_down_detials .list ul li a{ color:#000; text-decoration:none}
.pic_details .player_drop_down_detials .list ul li.first{ padding-top:0px}

.home_top_box{ float:left; width:790px; padding:15px 74px 10px 74px}
.home_top_box_details{ float:left; width:780px; background:image_url("common/home_topbox_repeat_curve.png") repeat-y 0 0; padding: 0 2px 0 2px; }
.home_top_box_details h3{ float:left; width:100%; text-align:center; font-size:28px; color:#f21e1b; border-bottom: solid 1px #d6d6d6; font-family: 'Open Sans', sans-serif; font-weight:300; line-height:33px; padding-bottom:17px}
.home_top_row{ float:left; width:718px; padding:22px 0 0 62px}
.home_top_row .col{ float:left; width:133px; background:image_url("common/circle1.png") no-repeat 0 0; height:133px; text-align:center; margin-right:40px; display:inline}
.home_top_row .col.second{ background:image_url("common/circle2.png") no-repeat 0 0}
.home_top_row .col.third{ background:image_url("common/circle3.png") no-repeat 0 0}
.home_top_row .col.four{ background:image_url("common/circle4.png") no-repeat 0 0}
.home_top_row .col strong{ float:left; width:100%; text-align:center; font-size:28px; line-height:33px; font-family: 'Open Sans', sans-serif; font-weight:300;  padding:40px 0 0 0; font-weight:normal}
.home_top_row .col small{ float:left; width:100%; text-align:center; font-size:12px; color:#9d9d9d; line-height:19px}

.home_middle_row{ float:left; width:100%; text-align:center;  padding:27px 0 0 0}
.home_middle_row p{ font-size:16px; color:#000000; line-height:21px; font-family: 'Open Sans', sans-serif; font-weight:300; padding:0 0 5px 0}
.home_middle_row p .red{ color:#f21e1b; font-size:20px; line-height:25px}
.home_middle_row p a{ background:image_url("common/arrow.png") no-repeat right 7px; color:#000; text-decoration:none; padding: 0 20px 0 0}
.home_middle_row strong{ width:100%; font-weight:normal; font-size:22px; color:#a9a9a9; font-family: 'Open Sans', sans-serif; font-weight:300; line-height:27px}
.home_middle_row strong .red{ color:#f21e1b}

.home_bottom_row{ float:left; width:610px; padding: 20px 0 10px 170px}
.home_bottom_row .col{ float:left; width:198px; margin-right:40px; display:inline}
.home_bottom_row .col .btn{float:left; width:198px;}
.home_bottom_row .col .btn a{float:left; width:198px; background:image_url("common/big_red_btn.png") no-repeat 0 0; text-align:center; font-size:19px; color:#fff; line-height:23px; padding:6px 0 8px 0; font-family: 'Open Sans', sans-serif; font-weight:300; text-decoration:none; text-shadow:1px 1px 1px #000 }
.home_bottom_row .col .sign{ float:left; width:100%; text-align:center; padding:2px 0 0 0}
.home_bottom_row .col .sign a{ color:#a9a9a9; text-decoration:none; font-size:15px; line-height:20px; font-family: 'Open Sans', sans-serif; font-weight:300;}

.musican_bottom_row{ float:left; width:686px; padding: 0 0 0 94px}
.musican_bottom_row h4{ float:left; width:100%; font-size:23px; color:#f21e1b; line-height:28px; padding:26px 0 12px 0}
.musican_bottom_row h4.fan{ text-align:center}
.musican_bottom_row .left_col{ float:left; width:258px;}
.musican_bottom_row .left_col p{ float:left; width:100%; font-size:16px; color:#000; line-height:21px; font-family: 'Open Sans', sans-serif; font-weight:300}
.musican_bottom_row .left_col .learn_more{ float:left; width:auto; padding:14px 0 0 0}
.musican_bottom_row .left_col .learn_more a{ float:left; width:auto; font-size:15px; color:#000; line-height:20px; font-family: 'Open Sans', sans-serif; font-weight:300; background:image_url("common/arrow.png") no-repeat right 7px; padding: 0 20px 0 0}
.musican_bottom_row .left_col .learn_more a:hover{ text-decoration:none}
.musican_bottom_row .right_col{ float:left; width:335px}
.musican_bottom_row .right_col form{ float:left; width:100%}
.musican_bottom_row .right_col form fieldset{ float:left; width:100%}
.musican_bottom_row .right_col form .row{ float:left; width:100%}
.musican_bottom_row .right_col form .row .input{ float:left; width:333px; background:#f8f8f8; text-align:center; font-size:16px; color:#a9a9a9; text-align:center; border: solid 1px #e6e7e7; padding:10px 0}
.musican_bottom_row .right_col .copy{ float:left; width:295px; margin: 10px 0 0 20px}
.musican_bottom_row .right_col .copy a{ float:left; width:295px; background:image_url("common/big_red_btn1.png") no-repeat; text-align:center; font-size:17px; color:#fff; line-height:22px;; text-decoration:none; padding:6px 0 9px 0; font-family: 'Open Sans', sans-serif; font-weight:300; text-shadow:1px 1px 1px #000}
.musican_bottom_row .right_col .invite{ float:left; width:100%; text-align:center; font-size:15px; color:#000; font-family: 'Open Sans', sans-serif; font-weight:300; padding:5px 0 5px 0}
.musican_bottom_row .right_col .invite .red{ color:#f21e1b}

.registered_box{ float:left; width:949px; margin:10px 0 0 0}
.registered_box_details{ float:left; width:949px; background:image_url("common/registerd_repeat_bg.jpg") repeat-y 0 0}
.registered_box_top_bg{ float:left; width:949px; background:image_url("common/registerd_top_bg.jpg") no-repeat 0 0}
.registered_box_contant{ float:left; width:918px; padding: 20px 15px 0px 15px}
.registered_box_contant h3{ float:left; width:100%; text-align:center; font-size:22px; color:#f21e1b; line-height:27px; font-family: 'Open Sans', sans-serif; font-weight:300; padding-bottom:24px}
.registered_box_contant .row{ float:left; width:100%}
.registered_box_contant .col{ float:left; width:220px; margin-right:14px; display:inline; padding-bottom:15px }
.registered_box_contant .col.last{ margin-right:0px}
.registered_box_contant .col.last_col{ margin: -19px 0 0 0}
.registered_box_contant .col.second{ width:254px}
.registered_box_contant .col.top{ margin:-18px 14px 0 0}
.registered_box_contant .col.third{ width:181px}
.registered_box_contant .col.secon_top{margin:-54px 11px 0 0}
.registered_box_contant .col .pic_box{ float:left; width:100%; background:#1e1e20; height:185px}
.registered_box_contant .col .pic_box:hover{ background:#000; cursor:pointer}
.registered_box_contant .col .pic_box.second{ height:165px}
.registered_box_contant .col .pic_box.third{ height:127px}
.registered_box_contant .col .pic_box.four{ height:165px}
.registered_box_contant .col .pic_box.five{ height:150px}
.registered_box_contant .col .pic_box.six{ height:202px}
.registered_box_contant .col .pic_details{ float:left; width:206px; padding: 12px 0 12px 14px; background:#e5e5e5; font-size:14px; color:#000; line-height:19px; font-family: 'Open Sans', sans-serif; font-weight:300;}
.registered_box_contant .col .pic_details.second{ width:240px; padding: 12px 0 12px 14px}
.registered_box_contant .col .pic_details.third{ width:167px; padding: 12px 0 12px 14px}
.registered_box_contant .col .pic_details.five{ width:206px; padding:12px 0 12px 14px}

#footer{ float:left; width:944px; padding:32px 3px 0 3px}
.footer_top{ float:left; width:100%}
.footer_left_top{ float:left; width:368px;}
.footer_left_top ul{ float:left; width:100%; list-style:none}
.footer_left_top ul li{ float:left; width:auto; font-size:13px; color:#9e9e9e; line-height:18px; background:image_url("common/footer_seprater.jpg") no-repeat 0 7px; font-family: 'Open Sans', sans-serif; font-weight:300; padding: 0 8px 5px 8px}
.footer_left_top ul li a{ color:#9e9e9e; text-decoration:none}
.footer_left_top ul li a:hover{ text-decoration:underline}
.footer_left_top ul li.first{ background:none; padding-left:0px}

.footer_right{ float:right; width:auto}
.footer_right ul{ float:left; width:auto; list-style:none}
.footer_right ul li{ float:left; width:34px; margin-left:7px; display:inline}
.footer_right ul li.twitter a{ float:left; width:34px; background:image_url("common/twitter_icon.png") no-repeat 0 0; height:32px}
.footer_right ul li.twitter a:hover{ background-position:0 -32px}
.footer_right ul li.facebook a{ float:left; width:34px; background:image_url("common/facebook_icon.png") no-repeat 0 0; height:32px}
.footer_right ul li.facebook a:hover{ background-position:0 -32px}

.footer_bottom{ float:left; width:100%; background:#cacaca; text-align:center; font-size:11px; color:#fff; line-height:16px; padding:7px 0}

.clock .clock_box { float:left; }
.clock .clock_box + .clock_box { margin-left:30px; }
.clock .bgLayer { background:image_url("count-bg.png") no-repeat 0 0; position:relative; width:100%; }
.clock .text { position:absolute; top:45px; left:42px; width:100px; height:100px; text-align:center; }
.clock .text { font-weight:bold; text-transform:uppercase; font-size:12px; line-height:20px; color:#8d8f90; }
.clock .val { font-size:61px; font-weight:bold; color:#222426; text-align:center; line-height:50px; margin:7px 0 10px; width:100px; }
.clock .clock_days .val { font-size:47px; }

#contestant-photos {
  margin-top: 32px;
}

.photobox {
  width: 216px;
  margin: 10px;
  background: white;
  padding: 0 0 4px 0;
  float: left;
}

.photobox img {
  width: 100%;
  height: auto;
  margin-top: 0;
  display: block;
  background: #ccc;
}

.photobox .artist {
  float:left; width:202px; padding: 12px 0 12px 14px; background:#e5e5e5; font-size:14px; color:#000; line-height:19px; font-family: 'Open Sans', sans-serif; font-weight:300;
}