.flash {
  position: relative;
  z-index: 1200;
  background: image-url('flash-bg.png') repeat-x;
  border-bottom: solid 1px #fff;
  text-align: center;
  cursor: pointer;
  div {
    z-index: 1200;
    color: #fff;
    height: 59px;
    line-height: 59px;
    font-weight: bold;
    width: 960px;
    margin: 0 auto;
    cursor: pointer;
  }
  .close {
    float: right;
    display: block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 17px 10px 0 0;
    background: image-url('close.png') no-repeat 0 0;
    cursor: pointer;
    &:hover {
      background-position: 0 -24px;
    }
  }
}