@font-face {
  font-family: 'helvbold';
  src: font_url("helvbold-webfont.eot");
  src: font_url("helvbold-webfont.eot?#iefix") format('embedded-opentype'),
  font_url("helvbold-webfont.svg#helvboldbold") format('svg'),
  font_url("helvbold-webfont.woff") format('woff'),
  font_url("helvbold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvrommedium';
  src: font_url("helvrom-webfont.eot");
  src: font_url("helvrom-webfont.eot?#iefix") format('embedded-opentype'),
  font_url("helvrom-webfont.svg#helvrommedium") format('svg'),
  font_url("helvrom-webfont.woff") format('woff'),
  font_url("helvrom-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: font_url("bebasneue-webfont.eot");
  src: font_url("bebasneue-webfont.eot?#iefix") format('embedded-opentype'),
  font_url("bebasneue-webfont.svg#bebas_neueregular") format('svg'),
  font_url("bebasneue-webfont.woff") format('woff'),
  font_url("bebasneue-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rockoflfbold';
  src: font_url("rockoflf-bold-webfont.eot");
  src: font_url("rockoflf-bold-webfont.eot?#iefix") format('embedded-opentype'),
  font_url("rockoflf-bold-webfont.svg#rockoflfbold") format('svg'),
  font_url("rockoflf-bold-webfont.woff") format('woff'),
  font_url("rockoflf-bold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTRegular';
  src: font_url("helveticaneuelt-boldcond-webfont.eot");
  src: font_url("helveticaneuelt-boldcond-webfont.eot?#iefix") format('embedded-opentype'),
  font_url("helveticaneuelt-boldcond-webfont.svg#HelveticaNeueLTRegular") format('svg'),
  font_url("helveticaneuelt-boldcond-webfont.woff") format('woff'),
  font_url("helveticaneuelt-boldcond-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu_bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu_regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu_bold_italic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu_italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gauntlet';
  src: url('gauntlet_classic.otf');
  font-weight: regular;
}

@font-face {
  font-family: 'Absolut';
  src: url('absolut_pro.otf');
  font-weight: regular;
}

@font-face {
  font-family: 'Sansation';
  src: url('Sansation_Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Nevis';
  src: url('nevis.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Fontin';
  src: url('Fontin-Regular.otf');
  font-weight: regular;
}

@font-face {
  font-family: 'Fontin';
  src: url('Fontin-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.ttf');
  font-weight: bold;
}
