h2#heading {
  color: #CC0000 - #222;
  font: 48px "Telex";
  font-weight: bold;
  width: 96%;
  margin: 80px auto 0 auto;
  text-align: center;
}

h4#subheading {
  font: 24px "Telex";
  letter-spacing: 1px;
  font-weight: bold;
  width: 80%;
  line-height: 32px;
  margin: 8px auto;
  text-align: center;
  color: #111;
}

h4#invited-by {
  color: #C00000 - #333;
  font: 24px "Telex";
  font-weight: bold;
  width: 96%;
  margin: 80px auto 0 auto;
  text-align: center;
}

h3#sign-up {
  color: #222;
  font: 60px "Telex";
  font-weight: bold;
  width: 96%;
  margin: 8px auto;
  text-align: center;
}

#sign-up-options {
  width: 60%;
  margin: 0 auto 0 240px;
  height: 40px;
  text-align: center;
}

a.sign-up {
  border: 1px solid #{#C00000 - #666}; 
  width: 140px;
  float: left;
  display: block;
  padding: 8px 24px;
  color: white;
  letter-spacing: 1px;
  font: 22px "Telex";
  font-weight: bold;
  background: #C00000 - #444;
  margin: 8px 28px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #{#C00000 - #777};

background: #930202; /* Old browsers */
background: -moz-linear-gradient(top,  #930202 0%, #540008 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930202), color-stop(100%,#540008)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #930202 0%,#540008 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #930202 0%,#540008 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #930202 0%,#540008 100%); /* IE10+ */
background: linear-gradient(to bottom,  #930202 0%,#540008 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#930202', endColorstr='#540008',GradientType=0 ); /* IE6-9 */

}

a.sign-up:hover {
  text-decoration: none;
  background: #C00000 - #222;
}
