#heading-block {
  margin: 52px auto 0 auto;
  height: 300px;
}

h2#heading {
  color: #EE0000 - #222;
  font: 54px "Lato", "Telex";
  font-weight: bold;
  width: 80%;
  margin: 0 24px 0 0;
  text-align: left;
  float: left;
}

h4#subheading {
  font: 24px "Telex";
  letter-spacing: 1px;
  font-weight: bold;
  width: 80%;
  line-height: 32px;
  margin: 8px auto 0 auto;
  text-align: left;
  color: #111;
  float: left;
}

#microphone {
}
  
h4#invited-by {
  color: #C00000 - #333;
  font: 24px "Telex";
  font-weight: bold;
  width: 96%;
  margin: 80px auto 0 auto;
  text-align: center;
}

#countdown-block {
  width: 84%;
  background: #D7E9F2;
  height: 100px;
  margin-top: -54px;
  border: 1px solid #{#D7E9F2 - #222};
  border-right: 0;
  border-left: 0;
  padding: 16px 13% 16px 3%;
}

#contest-begins {
  float: right;
  color: #165C82;
  font-family: "Lato", "Telex";
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-align: right;
  margin-right: 12px;
  margin-top: 14px;
}

#sign-up h3 {
  color: #111;
  font: 60px "Telex";
  font-weight: bold;
  float: left;
  margin: 42px 24px 0 52px;
  padding-bottom: 0;
}

h5#sign-up-detail {
  color: #333;
  font: 18px "Telex";
  width: 100%;
  padding-top: 0;
  margin: 4px auto 0 auto;
  text-align: center;
}

h5#sign-up-detail span.highlight {
  font-weight: bold;
  color: #111;
}

#sign-up {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  text-align: center;
}

a.sign-up {
  border: 1px solid #{#C00000 - #666}; 
  width: 140px;
  float: left;
  display: block;
  padding: 8px 24px;
  color: white;
  letter-spacing: 1px;
  font: 22px "Telex";
  font-weight: bold;
  background: #E60000;
  margin: 54px 28px 8px 0;
  text-align: center;
  border-radius: 6px;
  /* border: 1px solid #{#C00000 - #777}; */
  border: 1px solid #{#E60000 - #777};

background: #e60000; /* Old browsers */
background: -moz-linear-gradient(top,  #e60000 0%, #840000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e60000), color-stop(100%,#840000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e60000 0%,#840000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e60000 0%,#840000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e60000 0%,#840000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e60000 0%,#840000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e60000', endColorstr='#840000',GradientType=0 ); /* IE6-9 */


// background: #930202; /* Old browsers */
// background: -moz-linear-gradient(top,  #930202 0%, #540008 100%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#930202), color-stop(100%,#540008)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(top,  #930202 0%,#540008 100%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(top,  #930202 0%,#540008 100%); /* Opera 11.10+ */
// background: -ms-linear-gradient(top,  #930202 0%,#540008 100%); /* IE10+ */
// background: linear-gradient(to bottom,  #930202 0%,#540008 100%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#930202', endColorstr='#540008',GradientType=0 ); /* IE6-9 */

}

a.sign-up:hover {
  text-decoration: none;
  background: #C00000 - #222;
}
