@import 'compass';
@import 'compass/css3/border-radius';
@import 'partials/formtastic';

.copyright {
  color: #333;
  font-size: 14px;
  text-align: center;
  margin: 1em 0;
}

.flash {
  background: #E3E6E8 image-url('bg-w1.gif');
  div {
    background: image-url('bg-wrapper.jpg') repeat-y 50% 0;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
  }
  .notice {
    color: #000;
  }
  .alert {
    color: #000;
  }
  .close:hover {
    cursor: pointer;
    text-decoration: none;
    color: #369;
  }
}

#header .panel .block {
  height: 36px;
}

.account-box .user {
  overflow: visible;
}

.profile-photo {
  width: 77px;
  height: 77px;
  overflow: hidden;
	margin: 0 0 10px;
	border: 1px solid #d7d7d7;
  background: image-url('default-profile-photo.png') no-repeat;
}

.account-box .user .profile-photo-tiny {
  float: left;
  display: block;
  margin: 0 10px 0 0;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border: 1px solid #d7d7d7;
  background: image-url('default-profile-photo-tiny.png') no-repeat;
  position: relative;
  top: 4px;
  img {
    display: inline;
    margin: 0;
  }
}

.remove-profile-photo {
  margin-top: 10px;
  .boolean label {
    width: auto;
    padding: 0;
    float: none;
    text-align: left;
    font: inherit;
  }
}

.display-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
}

.drop .frame .foto img{
  margin: 0;
  border: none;
}

.account-box .user span {
  padding-right: 5px;
}

#header .panel .block-holder {
  width: 340px;
}

.block-holder .box {
  width: auto;
  max-width: 200px;
}

.account-box{
	display: block;
}

.social-media-buttons {
  float: right;
  width: 330px;
  height: 35px;
  margin-top: -5px;
  .facebook-button {
    float: left;
    background: image-url('Spritesheet.png') no-repeat -640px -92px;
    width: 175px;
    height: 35px;
    @include hide-text;
  }
  .twitter-button {
    float: left;
    background: image-url('Spritesheet.png') no-repeat -825px -92px;
    width: 155px;
    height: 35px;
    @include hide-text;
  }
}

#user_bio_input {
}

.sponsors-box {
  .heading {
    padding-bottom: 25px;
  }
  #main {
    background-color: #fff;
    border: solid 1px #b0b4b5;
    @include border-radius(5px);
    .introduction {
      color: #333;
      padding: 40px 70px;
      border-bottom: solid 1px #c9c9c9;
    }
    .sponsors {
      color: #666;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        clear: both;
        overflow: auto;
        padding-left: 200px;
        padding: 22px 70px;
        @include background-image(linear-gradient(#f5f5f5,#e8e9eb));
        border-top: solid 1px #fff;
        border-bottom: solid 1px #c9c9c9;
        &:last-child {
          border-bottom: none;
          @include border-bottom-radius(5px);
        }
        img {
          border: solid 1px #e5e5e5;
          float: left;
        }
        .sponsor-text {
          margin-left: 240px;
        }
      }
    }
  }
}

.prize-pool-box {
  .title-box .decor {
    background: image-url('prize-decor.png') no-repeat 0 0;
  }
  #main {
    margin-top: -23px;
    background-color: #fff;
    width: 820px;
    padding: 40px 70px;
    @include border-radius(5px);
  }
  .signature {
    .name {
      color: #333;
	    font-family: 'IstokBold', Arial, Helvetica, sans-serif;
    }
    .title {
      color: #999;
    }
  }
}

.page-box {
  .main {
    background-color: #fff;
    width: 820px;
    padding: 40px 70px;
    @include border-radius(5px);
  }
}

.linked-slide {
  > a {
    margin-top: -39px;
    padding-top: 39px;
    margin-left: -68px;
    padding-left: 68px;
    display: block;
    width: 892px;
    height: 344px;
  }
}

.button-save {
  font: 22px/26px 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  color: white;
  background: image-url('sprites.png') no-repeat -200px -350px;
  display: block;
  width: 66px;
  height: 36px;
  padding: 0 0 4px;
  text-align: center;
  cursor: pointer;
  border: 0;
}

.edit-thumbnail {
  width: 497px;
  overflow: auto;
  padding: 40px;
  .original {
    float: left;
    img {
      border: solid 1px #eee;
      max-width: 400px;
      max-height: 400px;
    }
  }
  .thumbnail {
    float: right;
    width: 77px;
    height: 77px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .button-save {
    clear: right;
    float: right;
  }
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}

.popup {
  .radio-label {
	  float:left;
	  width:174px;
	  padding:0 30px 0 26px;
	  text-align:center;
	  color:#444;
	  font:12px/15px IstokBold, Arial, Helvetica, sans-serif;
    span {
  	  display:block;
	    padding:0 0 10px;
    }
  }
  .rad-area{
    float:none;
    display:block;
    margin:0 auto;
    width:18px;
    height:18px;
    background: image-url('bg-radio.png') no-repeat 0 0px;
  }
  .rad-checked{
    background-position: 0 -41px;
  }
}

.social-networks {
  padding-bottom: 10px;
  li a {
    width: 18px;
    height: 18px;
    background: image-url('Spritesheet.png') no-repeat;
    &.facebook {
      background-position: -852px -30px;
      &:hover {
        background-position: -852px -50px;
      }
    }
    &.twitter {
      background-position: -874px -30px;
      &:hover {
        background-position: -874px -50px;
      }
    }
    &.googleplus {
      background-position: -895px -30px;
      &:hover {
        background-position: -895px -50px;
      }
    }
    &.email {
      background-position: -937px -30px;
      &:hover {
        background-position: -937px -50px;
      }
    }
    &.sharethis {
      background-position: -958px -30px;
      &:hover {
        background-position: -958px -50px;
      }
    }
    
  }
}

.tab-content {
  position: relative;
  p {
    margin: 0 0 20px 0;
  }
  .notice, .alert {
    width: 400px;
    margin-left: -200px;
    position: absolute;
    left: 50%;
    top: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}
