.copyright {
  text-align: center;
  margin: 1em 0;
}

.flash {
  div {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #e5e5e5;
  }
  .notice {
    color: #000;
  }
  .alert {
    color: #000;
  }
  .close:hover {
    cursor: pointer;
    text-decoration: none;
    color: #369;
  }
}

.profile-photo {
  width: 77px;
  height: 77px;
  overflow: hidden;
	margin: 0 0 10px;
	border: 1px solid #d7d7d7;
  background: image-url('default-profile-photo.png') no-repeat;
}

.display-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.drop .frame .foto img{
  margin: 0;
  border: none;
}

.account-box .user span {
  padding-right: 5px;
}

#header .panel .block-holder {
  width: 300px;
}

.account-box{
	display: block;
}

.social-media-buttons {
  float: right;
  width: 350px;
  height: 40px;
  line-height: 26px;
  margin-top: 0;
  div {
    width: 150px;
    float: left;
    margin-right: 10px;
  }
}

.formtastic {
  ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &.user {
    .thumbnail-wrapper {
      width: 77px;
      height: 77px;
      overflow: hidden;
    }
    .original-wrapper {
      float: right;
      width: 75%;
      position: relative;
    }
  }
  .photo {
    width: 72%;
  }
}
