@font-face {
  font-family: 'Atilla-Font';
  src: font_url('atilla_normal-webfont.eot');
  src: font_url('atilla_normal-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('atilla_normal-webfont.woff') format('woff'),
  font_url('atilla_normal-webfont.ttf') format('truetype'),
  font_url('atilla_normal-webfont.svg#atillanormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atilla-Font';
  src: font_url('atilla_bold-webfont.eot');
  src: font_url('atilla_bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('atilla_bold-webfont.woff') format('woff'),
  font_url('atilla_bold-webfont.ttf') format('truetype'),
  font_url('atilla_bold-webfont.svg#atillabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: font_url('myriadpro-regular.eot');
  src: font_url('myriadpro-regular.eot?#iefix') format('embedded-opentype'),
  font_url('myriadpro-regular.woff') format('woff'),
  font_url('myriadpro-regular.ttf') format('truetype'),
  font_url('myriadpro-regular.svg#myriadpro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
  font-size: 15px;
  line-height: 1.3;
  font-family: 'Atilla-Font', Arial, Helvetica, sans-serif;
  color: #000;
  background: #fff;
  min-width: 945px;
}

a { color: #f21e1b; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-family: 'Atilla-Font', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 19px; color: #000; }
textarea { overflow: auto; }

h1#logo { width: 199px; height: 34px; padding: 13px 11px 13px 2px; position: relative; border-right: 1px solid #fff; margin-right: 13px; }
h1#logo a { height: 34px; display: block; background: image_url("logo.png"); }
h1#logo span { font-family: 'MyriadPro-Regular', sans-serif; font-size: 13px; color: #fff; text-transform: lowercase; width: 150px; display: block; position: absolute; right: -165px; top: 11px; }
h2 { font-size: 40px; line-height: 48px; color: #f21e1b; font-weight: normal; }
h3 { font-size: 19px; line-height: 22px; color: #f21e1b; font-weight: normal; }

a.follow-btn { color: #000; line-height: 36px; width: 76px; height: 36px; display: block; position: absolute; bottom: 0; left: 209px; background: image_url("btnFollow.png") no-repeat 0 0; }
a.follow-btn.following { color: #fff; background-position: -83px 0; }
//a.follow-btn:active { background-position: right 0; }

a.sign-btn { width: 36px; height: 36px; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("sprite.png") no-repeat -121px -31px; }
a.sign-btn.signed { background-position: -161px -31px; }
//a.sign-btn:active { background-position: -201px -31px; }

a.pass-btn { width: 36px; height: 36px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("sprite.png") no-repeat -1px -31px; }
a.pass-btn:hover { background-position: -41px -31px; }
a.pass-btn:active { background-position: -81px -31px; }

a.consider-btn { width: 36px; height: 36px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("sprite.png") no-repeat -1px -72px; }
a.consider-btn:hover { background-position: -41px -72px; }
a.consider-btn:active { background-position: -81px -72px; }

.clearfix { zoom: 1; }
.clearfix:after { content: ''; width: 100%; height: 0; display: block; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.wrapper { min-height: 100%; height: auto !important; margin: 0 auto -85px; }

.push { height: 85px; }

.shell { width: 945px; margin: 0 auto }

.btn { font-size: 14px; line-height: 30px; color: #fff; text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); height: 30px; background: image_url("btn.png") repeat-x; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }
.btn:hover { text-decoration: none; background-position: 0 bottom; }

.btn-grey { color: #000; text-shadow: none; background: image_url("btnFollow.png") no-repeat 0 0; }

.header { height: 66px; padding: 13px 0; background: image_url("header.png") repeat-x; position: relative; margin-bottom: 33px; }
.header a.btn { padding: 0 16px; margin: 15px 6px 0 0; }

.header-shadow { width: 938px; height: 17px; background: image_url("shad.png") no-repeat center 0; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 88px; left: 50%; margin-left: -469px; z-index: 1; }

.main { padding-bottom: 40px; }

.main-t { height: 5px; background: image_url("main-t.png") no-repeat; }
.main-b { height: 17px; background: image_url("main-b.png") no-repeat 0 bottom; }
.main-b-edit { height: 5px; background-image:image_url("main-b-edit.png"); }
.main-c { background: image_url("main-c.png") repeat-y; padding: 28px 49px 37px 49px; }

.homepage .main-c { padding: 37px 49px; }

.sign-up h2 { padding-bottom: 33px; }

.sign-up-options { padding: 4px 0 120px 2px; }

.sign-up-option { width: 198px; float: left; display: inline; padding-right: 39px; }
.sign-up-option a.btn { font-size: 19px; line-height: 37px; height: 37px; display: block; background-image: image_url("btn2.png"); }
.sign-up-option p { font-size: 15px; color: #a9a9a9; text-align: center; }

.footer { height: 85px; }

.footer-top { padding-bottom: 5px; }

#navigation { max-width: 650px; }
#navigation ul { list-style: none outside; padding-bottom: 12px; }
#navigation ul li { float: left; display: inline; padding: 0 12px; background: image_url("listItem.png") no-repeat right 9px; }
#navigation ul li:first-child { padding-left: 0; }
#navigation ul li.last { padding-right: 0; background: transparent; }
#navigation ul li a { font-size: 13px; line-height: 13px; color: #9e9e9e; font-weight: bold; display: block; }
#navigation ul.sub-nav li a { font-weight: normal; }

.socials a.ico { font-size: 0; line-height: 0; text-indent: -4000px; width: 34px; height: 32px;	float: right; display: inline; background-image: image_url("socials.png"); background-repeat: no-repeat; margin-left: 7px; }
.socials a.fb-ico { background-position: right 0; }
.socials a.tw-ico { background-position: 0 0; }
.socials a.fb-ico:hover { background-position: right bottom; }
.socials a.tw-ico:hover { background-position: 0 bottom; }

.footer-bottom { font-size: 11px; line-height: 20px; color: #fff; text-align: center; background: #cacaca; padding: 5px 0; }

.sign-up-steps h2 { font-size: 55px; line-height: 65px; padding-bottom: 14px; }
.sign-up-steps p.meta { font-size: 19px; padding-bottom: 17px; }

.steps-nav { padding: 0 0 30px 10px; }
.steps-nav ul { list-style: none outside; float: left; display: inline; background: image_url("dash.png") repeat-x 0 22px; }
.steps-nav ul li { width: 48px; float: left; display: inline; background: #fff; text-align: center; position: relative; padding-bottom: 30px; }
.steps-nav ul li + li { margin-left: 175px; }
.steps-nav ul li small.number { font-size: 26px; line-height: 46px; color: #fff; text-align: center; width: 46px; height: 46px; display: block; background: image_url("ico01.png") no-repeat; }
.steps-nav ul li span { width: 90px; display: block; position: absolute; top: 48px; left: 50%; margin-left: -45px; }
.steps-nav ul li.active small.number { background-image: image_url("ico02.png"); }

.form-section .form-row { padding-bottom: 23px; }
.form-section .labels-row { padding-bottom: 0; }
.form-section label { font-size: 15px; line-height: 37px; color: #000; font-weight: bold; width: 196px; float: left; display: inline; }
.form-section input.field { width: 313px; height: 27px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 10px; float: left; display: inline; margin-right: 21px; }
//.form-section span.error { font-size: 12px; line-height: 24px; color: #000; background: #ff9c00 image_url("tooltip-l.png") no-repeat 0 0; padding: 0 15px 0 20px; float: left; display: none; margin: 7px 20px 0 0; position: relative; }
.form-section span.error + span.error { margin-right: -310px; }
.form-section label.check { font-weight: normal; width: auto; padding-left: 33px; margin-left: 196px; position: relative; }
.form-section label.check input { display: none; }
.form-section label.check span { font-size: 0; line-height: 0; text-indent: -4000px; width: 22px; height: 21px; display: block; background: image_url("check.png") no-repeat; position: absolute; top: 50%; left: 0; margin-top: -11px; }
.form-section label.checked span { background-position: 0 bottom; }
.form-section input.submit { font-size: 19px; line-height: 37px; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); width: 117px; height: 37px; display: block; background: #d60000 image_url("submit1.png") no-repeat right center; border: 0; cursor: pointer; padding-right: 12px; }
.form-section input.submit:hover { opacity: 0.9; -moz-opacity: 0.9; filter:alpha(opacity=90); }
.form-section input.btn { font-size: 14px; line-height: 37px; height: 37px; display: block; background-image: image_url("btn2.png"); border: 0; padding: 0 15px; margin-top: 25px; cursor: pointer; }
.form-section input.reset-pwd { font-size: 17px; margin-bottom: 0; }
.form-section small.shorten-url { font-size: 14px; line-height: 36px; color: #bababa; width: 114px; float: left; display: inline; }
.form-section select { width: 334px; }

.email-verify { padding: 15px 0; }
.email-verify h2 { font-size: 41px; line-height: 46px; color: #000; }

.inner-form-section { padding-bottom: 18px; }
.inner-form-section h3 { padding-bottom: 20px; }

.textarea-holder { width: 333px; height: 140px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; float: left; display: inline; position: relative; cursor: text; }
.textarea-holder textarea { width: 303px; min-height: 50px; padding: 10px; display: block; background: transparent; border: 0; resize: none; overflow: hidden; }
.textarea-holder span.error { float: none; position: absolute; right: -190px; top: 0; }

.hiddendiv { font-size: 14px; line-height: 19px; color: #000; display: none; white-space: pre-wrap; word-wrap: break-word; width: 313px; min-height: 50px; }

.labels { padding-left: 196px; }
.labels label.check { font-size: 13px; line-height: 18px; font-weight: bold; margin: 0; padding: 0 15px 0 24px; }
.labels label.check span { width: 18px; height: 18px; background-image:image_url("check-sm.png"); margin-top: -9px; }

.cover-image { width: 184px; height: 184px; float: left; display: inline; background: #f8f8f8; border: 1px solid #e6e7e7; margin-right: 11px; }

.custom-upload { width: 335px; float: left; display: inline; }

.upload-button { width: 335px; height: 37px; position: relative; padding-bottom: 13px; }
.upload-button .fake-upload { font-size: 15px; line-height: 37px; color: #000; font-weight: bold; text-align: center; width: 107px; height: 37px; background: #ddd; position: absolute; top: 0; left: 0; z-index: 1; }
.upload-button input.upload-field { width: 107px; height: 37px; position: absolute; top: 0; left: 0; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); z-index: 2; }
.upload-button input.upload-value { color: #bababa; width: 196px; height: 25px; position: absolute; top: 0; right: 0; margin: 0; }

.upload-info { font-size: 13px; line-height: 16px; color: #000; font-weight: bold; }

.error-msg { font-size: 18px; line-height: 49px; color: #000; text-align: center; width: 335px; height: 49px; background: #ff9900; border: 1px solid #e6e7e7; margin-bottom: 10px; display: none; }

.signin-form .form-row,
.pwd-reset .form-row { padding-bottom: 5px; }
.signin-form label,
.pwd-reset label { width: auto; float: none; display: block; line-height: 30px; }
//.signin-form input.field { float: none; display: block; }
.signin-form input.btn,
.pwd-reset input.btn { margin: 15px 0 35px; }

.signin-support { font-size: 16px; line-height: 20px; padding-bottom: 30px; }
.signin-support a { color: #03539e; }
.signin-support a.sign-up-link { text-decoration: underline; }
.signin-support a.sign-up-link:hover { text-decoration: none; }

.reset-message { min-height: 250px; }
.reset-message h2 { font-size: 40px; line-height: 46px; }

.countdown { width: 784px; margin: 0 auto; padding-bottom: 20px; }
.countdown-t { height: 6px; background: image_url("count-t.png") no-repeat; font-size: 0; line-height: 0; text-indent: -4000px; }
.countdown-b { height: 21px; background: image_url("count-b.png") no-repeat 0 bottom; font-size: 0; line-height: 0; text-indent: -4000px; }
.countdown-c { background: image_url("count-c.png") repeat-y; }
.countdown h2 { font-size: 28px; line-height: 36px; color: #f21e1b; text-align: center; padding: 5px 0 10px; border-bottom: 1px solid #d6d6d6; }

.countdown .clock { padding: 21px 43px 27px; width: 695px; }
.countdown .clock .clock_box { width: 133px; float: left; display: inline; margin: 0 20px; }
.countdown .clock .bgLayer { width: 100%; background: image_url("count-bg.png") no-repeat 0 0; position: relative; }
.countdown .clock .text { font-family: 'MyriadPro-Regular', sans-serif; font-size: 14px; line-height: 20px; color: #9d9d9d; text-align: center; text-transform: uppercase; width: 78px; height: 54px; position: absolute; top: 50%; left: 50%; margin: -27px 0 0 -39px; }
.countdown .clock .val { font-family: 'Atilla-Font', sans-serif; font-size: 28px; line-height: 32px; color: #000; font-weight: normal; }

.countdown .info { font-size: 16px; line-height: 22px; color: #000; text-align: center; }
.countdown .info p { padding-bottom: 4px; }
.countdown .info p span { color: #f21e1b; font-size: 20px; }
.countdown .info p a { color: #000; }
.countdown .info h3 { font-size: 22px; line-height: 26px; color: #a9a9a9; }
.countdown .info h3 span { color: #f21e1b; }
.countdown .info .sign-up-options { width: 435px; margin: 0 auto; padding: 17px 0 10px; }
.countdown .info .sign-up-option { padding-right: 0; }
.countdown .info .sign-up-option + .sign-up-option { padding-left: 39px; }

.contestants .col { float: left; display: inline; }
.contestants .col + .col { padding-left: 12px; }
//.contestants h3 { font-size: 23px; line-height: 30px; color: #f21e1b; text-align: center; padding-bottom: 15px; position: relative; height: 100%; top: -21px; }

.contestants-list { width: 960px; height: 100%; position: relative; margin: -25px -12px -35px -28px; }

.contestant-entry { float: left; display: block; padding: 0 12px 15px 0; }
.contestant-entry a { display: block; position: relative; height: 100%; padding-bottom: 39px; }
.contestant-entry a > span { font-size: 14px; line-height: 39px; color: #000; text-indent: 17px; width: 100%; height: 39px; display: block; position: absolute; bottom: 0; left: 0; background: #e5e5e5; }
.contestant-entry a img { height: auto; display: block; }
.contestant-entry a strong.event-details { font-size: 18px; line-height: 22px; color: #fff; text-align: center; font-weight: normal; width: 100%; position: absolute; top: 30px; left: 0; }
.contestant-entry a strong.event-details span.date { font-size: 14px; line-height: 18px; padding-top: 15px; display: block; }

.first-contestant,
.first-contestant img { width: 217px; }
.second-contestant,
.second-contestant img { width: 254px; }
.third-contestant,
.third-contestant img { width: 179px; }
.fourth-contestant,
.fourth-contestant img { width: 218px; }

.second-contestant .contestant-entry,
.third-contestant .contestant-entry { padding-bottom: 19px; }

.account { height: 35px; float: right; display: inline; position: relative; padding: 13px 0 20px; }
.account a { font-size: 14px; line-height: 21px; color: #fff; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); height: 21px; padding: 7px 23px 7px 48px; position: relative; display: block; }
.account a img { width: 33px; height: 33px; display: block; border: 1px solid #c7c7c8; position: absolute; top: 0; left: 0; }
.account a span.dd-toggle { width: 14px; height: 14px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("dd.png") no-repeat; position: absolute; top: 50%; right: 0; margin-top: -7px; }

.acc-dd { width: 348px; padding: 25px; background: #fff; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; position: absolute; top: 57px; right: 0px; z-index: 10; display: none; }
.acc-dd .user-image { width: 147px; height: 147px; float: left; display: inline; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; }
.acc-dd span.dd-arr { width: 0; height: 0; display: block; border-bottom: 12px solid #fff; border-left: 12px solid transparent; border-right: 12px solid transparent; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: -12px; right: 64px; }
.acc-dd ul { list-style: none outside; width: 170px; float: right; display: inline; }
.acc-dd ul li { border-bottom: 1px solid #cacaca; }
.acc-dd ul li a { font-size: 15px; line-height: 19px; color: #000; text-shadow: none; font-weight: bold; padding: 10px 0; display: block; }
.acc-dd ul li:first-child a { padding-top: 0; }

.account:hover .acc-dd { display: block; }

.countdown .referal-link { width: 594px; margin: 0 auto; }
.countdown .referal-link h3 { font-size: 24px; line-height: 30px; color: #f21e1b; padding-bottom: 2px; }

.countdown .referal-info { font-size: 16px; line-height: 20px; text-align: left; width: 255px; float: left; display: inline; }
.countdown .referal-info p { padding-bottom: 10px; }
.countdown .referal-info a.learn-more { font-weight: bold; color: #000; text-decoration: underline; }
.countdown .referal-info a.learn-more:hover { text-decoration: none; }

.countdown .referal-link-holder { width: 334px; float: right; display: inline; }
.countdown .referal-link-holder input.field { font-size: 16px; color: #a9a9a9; text-align: center; width: 100%; height: 27px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 0; display: block; margin-bottom: 10px; }
.countdown .referal-link-holder a.copy { font-size: 17px; width: 295px; margin: 0 auto; display: block; margin-bottom: 3px; }
.countdown .referal-link-holder p { font-size: 15px; line-height: 20px; font-weight: bold; }
.countdown .referal-link-holder p span { color: #f21e1b; }

.account-edit > h3 { font-size: 21px; color: #000; padding-bottom: 22px; }

.account-nav { padding: 10px 53px 40px; }
.account-nav h3 { font-size: 21px; line-height: 30px; color: #000; font-weight: bold; float: left; display: inline; padding-right: 36px; }
.account-nav ul { list-style: none outside; float: left; display: inline; }
.account-nav ul li { float: left; display: inline; padding-right: 10px; }
.account-nav ul li a { font-size: 15px; line-height: 30px; color: #000; display: block; padding: 0 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.account-nav ul li a:hover,
.account-nav ul li.active a { background: image_url("btn.png") repeat-x; color: #fff; text-decoration: none; }
.account-nav ul li.active a:hover { background-position: 0 bottom; }

.social-section h3 { padding-bottom: 5px; }
.social-section > p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 15px; }


.form-section .yt-row input.field { width: 200px; }
.form-section .social-row input.field { width: 115px; }

.social-section small.shorten-url { width: 197px; }

.account-edit h3 { padding-bottom: 20px; }
.account-edit .referal-link { padding-bottom: 25px; }
.account-edit .referal-link p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 15px; }
.account-edit .referal-link-holder { padding-bottom: 20px; }
.account-edit .referal-link-holder input.field { font-size: 14px; color: #a9a9a9; width: 313px; height: 25px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 10px; float: left; display: inline; margin-right: 10px; }
.account-edit .referal-link-holder a.copy { font-size: 14px; line-height: 37px; height: 37px; background-image: image_url("btn2.png"); float: left; display: inline; padding: 0 11px; }

.friends-list { padding-bottom: 20px; }
.friends-list h3 { padding-bottom: 10px; }
.friends-list p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 10px; }
.friends-list p span.count { color: #f21e1b; }
.friends-list .table-holder { width: 492px; padding-bottom: 10px; }
.friends-list table { font-size: 14px; line-height: 18px; color: #000; border: 1px solid #b3b3b3; background: #eee; }
.friends-list table th { padding: 13px 8px; background: #ccc; border-left: 1px solid #bfbfbf; text-align: left; }
.friends-list table th:first-child { border: 0; text-align: center; }
.friends-list table td { padding: 8px; border-left: 1px solid #bfbfbf; }
.friends-list table td:first-child { border: 0; text-align: center; }
.friends-list table tr.even td { background: #fff; }

.referals-list .table-holder { width: 681px; }

.about h2 { font-size: 54px; line-height: 60px; padding-bottom: 25px; }
.about p { font-size: 14px; line-height: 18px; color: #000; padding-bottom: 15px; }

.about-listing { padding-top: 18px; }

.about-entry { padding: 15px 0 15px 132px; border-top: 1px solid #dedede; position: relative; height: 100%; min-height: 110px; }
.about-entry img { width: 116px; height: 107px; display: block; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; position: absolute; top: 15px; left: 0; }
.about-entry h4 { font-size: 15px; line-height: 17px; color: #f21e1b; padding-bottom: 5px; }
.about-entry p { color: #5a5a5a; }

.person-details { font-size: 12px; line-height: 18px; color: #000; }
.person-details em { padding-right: 14px; position: relative; height: 100%; float: left; display: inline; }
.person-details em small.ico { height: 18px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background-image: image_url("icos.png"); background-repeat: no-repeat; position: absolute; top: 50%; left: 0; margin-top: -9px; }
.person-details em.city { padding-left: 16px; min-width: 137px; }
.person-details em.city small.ico { width: 12px; background-position: 0 center; }
.person-details em.email { padding-left: 26px; min-width: 74px; }
.person-details em.email small.ico { width: 20px; background-position: -16px center; }
.person-details em.twitter { padding-left: 27px; min-width: 80px; }
.person-details em.twitter small.ico { width: 22px; background-position: -37px center; margin-top: -10px; }
.person-details em.website { padding-left: 27px; min-width: 100px; }
.person-details em.website small.ico { width: 18px; background-position: -62px center; }

.contact-form h5 { font-size: 22px; line-height: 25px; color: #000; padding-bottom: 20px; font-weight: normal; }
.contact-form .form-section .labels-row { position: relative; top: -11px; }
.contact-form .form-section input.btn { font-size: 14px; margin: 0 0 0 470px; }

#header-nav { float: left; display: inline; padding-left: 199px; }
#header-nav ul { list-style: none outside; }
#header-nav ul li { float: left; display: inline; padding-left: 17px; }
#header-nav ul li a { font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: #69727b; font-weight: bold; display: block; padding: 43px 6px 3px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; height: 100%; position: relative; }
#header-nav ul li a span { width: 19px; height: 22px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background-image:image_url("sprite.png"); background-repeat: no-repeat; position: absolute; top: 12px; left: 50%; margin-left: -10px; }
#header-nav ul li a:hover { text-decoration: none; color: #fff; }
#header-nav ul li.auditions a span { background-position: -175px -74px; }
#header-nav ul li.evaluations a span { background-position: -151px -72px; }
#header-nav ul li.leader-board a span { width: 22px; height: 20px; background-position: -123px -72px; margin-left: -11px; }
#header-nav ul li.active a { background: image_url("activeNav.png") repeat-x; color: #fff; }
#header-nav ul li.auditions.active a span,
#header-nav ul li.auditions a:hover span { background-position: -175px -97px; }
#header-nav ul li.evaluations.active a span,
#header-nav ul li.evaluations a:hover span { background-position: -151px -96px; }
#header-nav ul li.leader-board.active a span,
#header-nav ul li.leader-board a:hover span { background-position: -123px -93px; }

.interior .main-c { padding: 12px 22px; }

.contestant-info { font-size: 14px; line-height: 20px; color: #7e7e7e; height: 100%; min-height: 190px; padding-left: 209px; position: relative; }
.contestant-info img { width: 186px; height: 186px; display: block; padding: 1px; border: 1px solid #e3e3e3; position: absolute; top: 0; left: 0; }
.contestant-info h3 { color: #282828; padding-bottom: 27px; }
.contestant-info h3 a { color: #282828; }
.contestant-info p { padding-bottom: 5px; }
.contestant-info p.city { color: #282828; }
.contestant-info .left-info { width: 167px; float: left; display: inline; }
.contestant-info .right-info { width: 500px; height: 100%; float: right; display: inline; position: relative; }
.contestant-info .right-info p { padding-bottom: 10px; }
.contestant-info a.sign-btn { position: absolute; bottom: 37px; left: 297px; }

.contestant-songs { width: 656px; height: 422px; margin: 0 auto 20px; }
.contestant-songs h3 { font-size: 18px; line-height: 20px; color: #282828; text-align: center; padding-bottom: 15px; }
.contestant-songs .slide { width: 640px; border: 1px solid #d3d3d3; background: #e1e1e1; padding: 7px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }

.contestant-songs .flex-direction-nav a { width: 55px; height: 62px; margin: -21px 0 0; background-repeat: no-repeat; background-position: 0 0; opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); -webkit-transition: none; }
.contestant-songs .flex-direction-nav .flex-next { background-image: image_url("next.png"); right: -54px; }
.contestant-songs .flex-direction-nav .flex-prev { background-image:image_url("prev.png"); left: -54px; }
.contestant-songs .flexslider:hover .flex-next { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); right: -54px; }
.contestant-songs .flexslider:hover .flex-prev { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); left: -54px; }
.contestant-songs .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0) !important; }

.evaluations { padding: 0 0 25px; }
.evaluations h3 { font-size: 24px; line-height: 28px; color: #282828; padding-bottom: 5px; border-bottom: 1px solid #e0e0e0; }

.evaluation-sliders { padding: 20px 0 35px; }

.evaluation-slider { width: 280px; float: left; display: inline; }
.evaluation-slider + .evaluation-slider { margin-left: 27px; }
.evaluation-slider h4 { font-size: 18px; line-height: 20px; color: #282828; padding-bottom: 20px; }
.evaluation-slider .scale { height: 15px; position: relative; padding-bottom: 8px; }
.evaluation-slider .scale span { font-size: 12px; line-height: 15px; color: #838383; position: absolute; top: 0; }
.evaluation-slider .scale span.null { left: -1px; }
.evaluation-slider .scale span.mid { left: 50%; margin-left: -2px; }
.evaluation-slider .scale span.high { right: 0; }
.evaluation-slider .jq-slider { background: #858585; height: 9px; position: relative; }
.evaluation-slider .jq-slider span.grade { height: 7px; position: absolute; top: 0; left: 0; background: #c40d0d; border: 1px solid #8e2a0f; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }
.evaluation-slider .jq-slider a.ui-slider-handle { font-size: 12px; line-height: 23px; color: #000; text-align: center; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6); width: 30px; height: 39px; display: block; background: image_url("slideHandle.png"); border: 0; top: -24px; cursor: pointer; margin-left: -15px; }
.evaluation-slider .jq-slider a.ui-slider-handle:hover { text-decoration: none; }

.evaluation-comment label { font-size: 18px; line-height: 20px; color: #282828; display: block; margin-bottom: 10px; }
.evaluation-comment textarea { font-size: 14px; line-height: 20px; color: #959595; width: 871px; height: 70px; display: block; padding: 15px 13px; background: #f8f8f8; border: 1px solid #e6e7e7; resize: none; margin-bottom: 21px; }
.evaluation-comment input.submit { width: 74px; height: 36px; display: block; border: 0; cursor: pointer; background-image:image_url("btn2.png"); }
.evaluation-comment p { font-size: 14px; line-height: 20px; color: #959595; padding: 10px 0; }

.social-icos { position: absolute; top: -52px; left: 0; }
.social-icos a { width: 30px; height: 30px; float: left; display: inline; font-size: 0; line-height: 0; text-indent: -4000px; margin-right: 8px; background-image:image_url("sprite.png); background-repeat: no-repeat; opacity: 0.2; -moz-opacity: 0.2; filter:alpha(opacity=20"); transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; -webkit-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; }
.social-icos a:hover { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }
.social-icos a.fb-ico { background-position: 0 0; }
.social-icos a.tw-ico { background-position: -38px 0; }
.social-icos a.gp-ico { background-position: -75px 0; }
.social-icos a.yt-ico { background-position: -113px 0; }
.social-icos a.li-ico { background-position: -151px 0; }
.social-icos a.vi-ico { background-position: -189px 0; }
.social-icos a.pin-ico { background: image_url("arrs.png") no-repeat 0 -113px; }
.social-icos a.web-ico { background: image_url("arrs.png") no-repeat -38px -113px; }

.mogul-entry { width: 221px; float: left; display: inline; padding: 0 0 37px 209px; min-height: 190px; height:100%; position: relative; }
.mogul-entry.last { float: right; }
.mogul-entry img { width: 186px; height: 186px; display: block; padding: 1px; border: 1px solid #e3e3e3; position: absolute; top: 0; left: 0; }
.mogul-entry h3 { font-size: 18px; line-height: 20px; color: #282828; min-height: 40px; padding-bottom: 5px; }
.mogul-entry h3 a { color: #282828; }
.mogul-entry p { font-size: 14px; line-height: 24px; color: #000; padding-bottom: 10px; }
.mogul-entry p span.style { color: #7e7e7e; display: block; }

.eval-buttons { position: absolute; bottom: 37px; left: 209px; }
.eval-buttons a { float: left; display: inline; margin-right: 10px; }
.eval-buttons a.follow-btn { position: static; }
.eval-buttons a.follow-btn:hover { border: 0; }

.loading-more { font-size: 18px; line-height: 22px; color: #cdcdcd; text-align: center; padding: 0 0 35px 0; }

.mogul-info-box { width: 392px; margin: 0 auto 36px; border: 1px solid #ab0000; border-bottom-color: #5f0101; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.3); }
.mogul-info-box a.list-handle { height: 11px; background: image_url("handleBG.png"); display: block; font-size: 0; line-height: 0; text-indent: -4000px; border-top: 1px solid #ca4a4a; position: relative; }
.mogul-info-box a.list-handle span { width: 25px; height: 7px; display: block; background: image_url("sprite.png") no-repeat -222px -21px; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -13px; }

.mogul-info-box .info-row { background: #aa0000 image_url("bgRed.png") repeat-x 0 0; color: #fff; text-align: center; padding: 3px 0 0 0; border-bottom: 1px solid #710101; border-top: 1px solid #db1f1f; }

.mogul-info-box .info-row ul { list-style: none outside; }
.mogul-info-box .info-row ul li { width: 33.33%; float: left; display: inline; padding-bottom: 3px; }
.mogul-info-box .info-row h3 { font-size: 24px; line-height: 24px; color: #fff; padding-bottom: 5px; }
.mogul-info-box .info-row ul.head-row li.title { padding: 25px 0 0 0; }
.mogul-info-box .info-row ul.head-row strong { font-size: 36px; line-height: 36px; font-weight: normal; }
.mogul-info-box .info-row ul.head-row strong small { font-size: 24px; }

.contestant-info-box .info-row:first-child { padding-top: 0; }
.contestant-info-box .info-row ul.head-row li { background: image_url("separator3.png") no-repeat 0 0; padding-top: 5px; }
.contestant-info-box .info-row ul.head-row li:first-child { background: transparent; }

.mogul-info-box .info-row ul.small-list { font-size: 14px; line-height: 18px; }
.mogul-info-box .info-row ul.small-list li span { display: block; }

.mogul-info-box .info-row ul.rating-list { padding-top: 5px; }
.mogul-info-box .info-row ul.rating-list li { float: right; width: auto; padding: 0 25px 3px 25px; background: image_url("separator.png") no-repeat 0 bottom; }
.mogul-info-box .info-row ul.rating-list li:first-child { background: transparent; }
.mogul-info-box .info-row ul.rating-list li.rating-cell { float: left; padding: 0 14px; }
.mogul-info-box .info-row ul.rating-list li.rating-cell p.rating { width: image_width("signees.png"); height: 31px; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("signees.png") no-repeat 0 bottom; position: relative; }
.mogul-info-box .info-row ul.rating-list li.rating-cell p.rating span { height: 31px; display: block; background: image_url("signees.png") no-repeat; position: absolute; top: 0; left: 0; }

.mogul-info-box .info-row ul.auduitions-list { padding-top: 5px; }
.mogul-info-box .info-row ul.auduitions-list li { width: 25%; background: image_url("separator.png") no-repeat 0 bottom; }
.mogul-info-box .info-row ul.auduitions-list li:first-child { background: transparent; }

.contestant-info-box .info-row ul.auduitions-list li { width: auto; padding: 0 6px 4px 6px; }
.contestant-info-box .info-row ul.auduitions-list li strong { font-size: 18px; line-height: 20px; color: #fff; font-weight: normal; display: block; }

.mogul-info-box .info-row ul.invitees-list { padding-top: 6px; }
.mogul-info-box .info-row ul.invitees-list li { width: 50%; background: image_url("separator.png") no-repeat 0 bottom; }
.mogul-info-box .info-row ul.invitees-list li:first-child { background: transparent; }
.mogul-info-box .info-row ul.invitees-list li strong { font-size: 30px; line-height: 30px; font-weight: normal; }

.mogul-info-box .info-row ul.followers-list { background: image_url("separator3.png") no-repeat center 0; }
.mogul-info-box .info-row ul.followers-list li { width: 50%; }
.mogul-info-box .info-row ul.followers-list li strong { font-size: 30px; line-height: 32px; display: block; font-weight: normal; }

.hidden-row { display: none; }

.moguls-list .contestant-info { padding-bottom: 37px; }
.moguls-list .contestant-info a.follow-btn { bottom: 37px; }
.moguls-list .contestant-info .left-info h3 { padding-bottom: 3px; min-height: 40px; }
.moguls-list .contestant-info .left-info p { color: #000; line-height: 24px; }
.moguls-list .contestant-info .left-info p span { color: #dd0000; }
.moguls-list .contestant-info .right-info { padding-top: 3px; }

.stats { font-size: 14px; line-height: 16px; color: #000; border-bottom: 1px solid #e0e0e0; margin-bottom: 15px; }
.stats span { color: #dd0000; padding-right: 15px; }
.stats strong.date { float: right; color: #7e7e7e; font-weight: normal; }

.tabs-nav { background: image_url("tabs.png") repeat-x 0 bottom; margin: 0 1px; height: auto; }
.tabs-nav ul { list-style: none outside; padding-bottom: 5px; }
.tabs-nav ul li { float: left; display: inline; margin-right: 3px; height: 100%; position: relative; }
.tabs-nav ul li a { font-size: 18px; line-height: 20px; color: #000; padding: 14px 18px; background: image_url("tabsNav.png") repeat-x; border: 1px solid #bdbdbd; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; display: block; }
.tabs-nav ul li a:hover { text-decoration: none; background-position: 0 bottom; }
.tabs-nav ul li.active { position: relative; margin-bottom: -5px; }
.tabs-nav ul li.active a { background-image: image_url("tabsNavH.png"); padding: 14px 18px 19px; border-color: #7a0c0c; color: #fff; }
.tabs-nav ul li span.overlay { width: 100%; height: 3px; background: image_url("tabs.png") repeat-x 0 bottom; position: absolute; bottom: -5px; left: 0; }
.tabs-nav ul li.active span.overlay { bottom: 0; }

.tab { padding: 10px 0; display: none; }
.tab .contestant-info { padding-bottom: 37px; }

.tab .contestant-info-inner { width: 221px; height: 100%; min-height: 190px; float: left; display: inline; position: relative; }
.tab .contestant-info-inner img { left: -209px; }
.tab .contestant-info-inner a.follow-btn { left: 0; }
.tab .contestant-info-inner a.sign-btn { left: 78px; bottom: 0; }
.tab .contestant-info-inner p { color: #000; }
.tab .contestant-info-inner p span { color: #dd0000; }
.tab .contestant-info-inner p span.genre { color: #7e7e7e; display: block; }
.tab .contestant-info-inner h3 { min-height: 40px; padding-bottom: 5px; }
.tab .contestant-info-inner span.explicit { font-size: 14px; line-height: 37px; color: #9d4a00; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); width: 184px; height: 37px; display: block; padding-left: 36px; position: absolute; bottom: 1px; left: 0; background: image_url("warning.png") repeat-x; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.tab .contestant-info-inner span.explicit small.ico { width: 21px; height: 19px; font-size: 0; line-height: 0; text-indent: -4000px; display: block; background: image_url("sprite.png") no-repeat -224px 0; position: absolute; top: 10px; left: 10px; }

.contestant-info-stats { width: 394px; float: right; display: inline; padding-right: 8px; }
.contestant-info-stats ul { list-style: none outside; font-size: 14px; line-height: 24px; color: #000; }
.contestant-info-stats ul span,
.contestant-info-stats ul strong { color: #dd0000; }

.stats-top { padding-bottom: 20px; border-bottom: 1px solid #e0e0e0; margin-bottom: 25px; }
.stats-top ul li { width: 50%; float: left; display: inline; }
.stats-top ul li strong { font-size: 30px; line-height: 30px; font-weight: normal; display: block; }

.stats-bottom ul { width: 177px; float: left; display: inline; padding-right: 20px; }

.leader-board .contestant-info-inner { width: 148px; }

.leader-board .contestant-info-stats { width: 533px; }
.leader-board .contestant-info-stats .stats-top { padding-bottom: 10px; margin-bottom: 10px; }
.leader-board .contestant-info-stats .stats-bottom { width: 540px; position: relative; margin-right: -7px; }

.contestant-images a { font-size: 10px; line-height: 18px; color: #7e7e7e; text-align: center; width: 100px; float: left; display: inline; padding-top: 100px; height: 100%; position: relative; margin-right: 8px; }
.contestant-images a img { width: 96px; height: 96px; display: block; }
.contestant-images a span.explicit { font-size: 10px; line-height: 18px; color: #9d4a00; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); display: block; background: image_url("warningBG.png"); position: absolute; top: 76px; left: 8px; right: 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }

.wide-mogul-info-box { width: 940px; margin: 0 auto; background: #ae0000 image_url("longBG.png) repeat-x; border: 1px solid #ae0000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5"); }
.wide-mogul-info-box ul { list-style: none outside; color: #fff; text-align: center; }
.wide-mogul-info-box ul li { float: left; display: inline; padding: 0 21px 20px; background: image_url("separator4.png") no-repeat 0 0; }
.wide-mogul-info-box ul li:first-child { background: transparent; }
.wide-mogul-info-box ul li h3 { color: #fff; text-align: center; padding: 12px 0; margin-bottom: 15px; }
.wide-mogul-info-box ul li strong { font-size: 30px; line-height: 32px; display: block; }
.wide-mogul-info-box ul li strong small { font-size: 24px; }
.wide-mogul-info-box ul li p.rating { width: 222px; height: 31px; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("signees.png") no-repeat 0 bottom; position: relative; }
.wide-mogul-info-box ul li p.rating span { height: 31px; display: block; background: image_url("signees.png") no-repeat; position: absolute; top: 0; left: 0; }
.wide-mogul-info-box ul li.rank-cell strong { padding: 21px 10px 0; }
.wide-mogul-info-box ul li.evals-cell ul li { padding: 3px 21px 0 35px; background: transparent; }
.wide-mogul-info-box ul li.evals-cell ul li:first-child { padding-left: 19px; }

.mogul-points strong { float: left; display: inline; padding: 23px 25px 0 0; }
.mogul-points .rating-field { float: left; display: inline; }
.mogul-points .rating-field p:first-child { padding-bottom: 5px; }

.sign-confirm { width: 552px; background: #fff; border: 6px solid #ccc; border-radius: 9px; -moz-border-radius: 9px; -webkit-border-radius: 9px; -o-border-radius: 9px; padding: 19px 24px 27px; }
.sign-confirm h2 { font-size: 30px; line-height: 36px; color: #dd0000; border-bottom: 1px solid #ccc; padding-bottom: 6px; margin-bottom: 27px; }

.sign-confirm .artist-overview { position: relative; height: 100%; padding: 0 0 18px 209px; min-height: 190px; }
.sign-confirm .artist-overview img { width: 186px; height: 186px; display: block; padding: 1px; border: 1px solid #ccc; position: absolute; top: 0; left: 0; }
.sign-confirm .artist-overview h3 { padding-bottom: 3px; min-height: 40px; }
.sign-confirm .artist-overview h3 a { color: #282828; }
.sign-confirm .artist-overview p { color: #000; line-height: 24px; }
.sign-confirm .artist-overview p span { color: #dd0000; }
.sign-confirm .artist-overview p span.genre { color: #7e7e7e; display: block; }

.sign-confirm .warning-msg { font-size: 14px; line-height: 20px; color: #7e7e7e; text-align: center; background: #ffefef; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; padding: 10px 0; margin-bottom: 17px; }
.sign-confirm .warning-msg h3 { padding-bottom: 3px; }

.sign-confirm .sign-buttons { text-align: center; }
.sign-confirm .sign-buttons a.btn { line-height: 36px; width: 76px; height: 36px; display: inline-block; margin: 0 5px; background-image: image_url("btn2.png"); }
.sign-confirm .sign-buttons a.btn-grey { background-image:image_url("btnFollow.png"); }

.eval-title { padding-bottom: 13px; }
.eval-title h2 { font-size: 24px; line-height: 30px; color: #dd0000; float: left; display: inline; padding-top: 9px; }

.contestant-pagination { font-size: 16px; line-height: 22px; color: #000; float: right; display: inline; background: #e1e1e1; border: 1px solid #d3d3d3; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; padding: 5px 8px; }
.contestant-pagination p { padding: 7px 17px; float: left; display: inline; }
.contestant-pagination a.prev-page,
.contestant-pagination a.next-page { width: 46px; height: 36px; float: left; display: inline; font-size: 0; line-height: 0; text-indent: -4000px; background-image: image_url("arrs.png"); background-repeat: no-repeat; }
.contestant-pagination a.prev-page { background-position: 0 0; }
.contestant-pagination a.prev-page:hover { background-position: 0 -38px; }
.contestant-pagination a.prev-page:active { background-position: 0 -76px; }
.contestant-pagination a.next-page { background-position: -47px 0; float: right; }
.contestant-pagination a.next-page:hover { background-position: -47px -38px; }
.contestant-pagination a.next-page:active { background-position: -47px -76px; }