@font-face {
  font-family: 'Atilla-Font';
  src: font_url('atilla_normal-webfont.eot');
  src: font_url('atilla_normal-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('atilla_normal-webfont.woff') format('woff'),
  font_url('atilla_normal-webfont.ttf') format('truetype'),
  font_url('atilla_normal-webfont.svg#atillanormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atilla-Font';
  src: font_url('atilla_bold-webfont.eot');
  src: font_url('atilla_bold-webfont.eot?#iefix') format('embedded-opentype'),
  font_url('atilla_bold-webfont.woff') format('woff'),
  font_url('atilla_bold-webfont.ttf') format('truetype'),
  font_url('atilla_bold-webfont.svg#atillabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: font_url('myriadpro-regular.eot');
  src: font_url('myriadpro-regular.eot?#iefix') format('embedded-opentype'),
  font_url('myriadpro-regular.woff') format('woff'),
  font_url('myriadpro-regular.ttf') format('truetype'),
  font_url('myriadpro-regular.svg#myriadpro-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
  font-size: 15px;
  line-height: 1.3;
  font-family: 'Atilla-Font', Arial, Helvetica, sans-serif;
  color: #000;
  background: #fff;
  min-width: 945px;
}

a { color: #f21e1b; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-family: 'Atilla-Font', Arial, Helvetica, sans-serif; font-size: 14px; line-height: 19px; color: #000; }
textarea { overflow: auto; }

h1#logo { width: 199px; height: 34px; padding: 13px 11px 13px 2px; position: relative; border-right: 1px solid #fff; margin-right: 13px; }
h1#logo a { height: 34px; display: block; background: image_url("logo.png"); }
h1#logo span { font-family: 'MyriadPro-Regular', sans-serif; font-size: 13px; color: #fff; text-transform: lowercase; width: 150px; display: block; position: absolute; right: -165px; top: 11px; }
h2 { font-size: 40px; line-height: 48px; color: #f21e1b; font-weight: normal; }
h3 { font-size: 19px; line-height: 22px; color: #f21e1b; font-weight: normal; }

.clearfix { zoom: 1; }
.clearfix:after { content: ''; width: 100%; height: 0; display: block; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.wrapper { min-height: 100%; height: auto !important; margin: 0 auto -85px; }

.push { height: 85px; }

.shell { width: 945px; margin: 0 auto }

.btn { font-size: 14px; line-height: 30px; color: #fff; text-align: center; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); height: 30px; background: image_url("btn.png") repeat-x; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; }
.btn:hover { text-decoration: none; background-position: 0 bottom; }

.header { height: 66px; padding: 13px 0; background: image_url("header.png") repeat-x; position: relative; margin-bottom: 33px; }
.header a.btn { padding: 0 16px; margin: 15px 6px 0 0; }

.header-shadow { width: 938px; height: 17px; background: image_url("shad.png") no-repeat center 0; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 88px; left: 50%; margin-left: -469px; z-index: 1; }

.main { padding-bottom: 40px; }

.main-t { height: 5px; background: image_url("main-t.png") no-repeat; }
.main-b { height: 17px; background: image_url("main-b.png") no-repeat 0 bottom; }
.main-c { background: image_url("main-c.png") repeat-y; padding: 28px 49px 37px 49px; }

.homepage .main-c { padding: 37px 49px; }

.sign-up h2 { padding-bottom: 33px; }

.sign-up-options { padding: 4px 0 120px 2px; }

.sign-up-option { width: 198px; float: left; display: inline; padding-right: 39px; }
.sign-up-option a.btn { font-size: 19px; line-height: 37px; height: 37px; display: block; background-image: image_url("btn2.png"); }
.sign-up-option p { font-size: 15px; color: #a9a9a9; text-align: center; }

.footer { height: 85px; }

.footer-top { padding-bottom: 5px; }

#navigation { max-width: 650px; }
#navigation ul { list-style: none outside; padding-bottom: 12px; }
#navigation ul li { float: left; display: inline; padding: 0 12px; background: image_url("listItem.png") no-repeat right 9px; }
#navigation ul li:first-child { padding-left: 0; }
#navigation ul li.last { padding-right: 0; background: transparent; }
#navigation ul li a { font-size: 13px; line-height: 13px; color: #9e9e9e; font-weight: bold; display: block; }
#navigation ul.sub-nav li a { font-weight: normal; }

.socials a.ico { font-size: 0; line-height: 0; text-indent: -4000px; width: 34px; height: 32px;	float: right; display: inline; background-image: image_url("socials.png"); background-repeat: no-repeat; margin-left: 7px; }
.socials a.fb-ico { background-position: right 0; }
.socials a.tw-ico { background-position: 0 0; }
.socials a.fb-ico:hover { background-position: right bottom; }
.socials a.tw-ico:hover { background-position: 0 bottom; }

.footer-bottom { font-size: 11px; line-height: 20px; color: #fff; text-align: center; background: #cacaca; padding: 5px 0; }

.sign-up-steps h2 { font-size: 55px; line-height: 65px; padding-bottom: 14px; }
.sign-up-steps p.meta { font-size: 19px; padding-bottom: 17px; }

.steps-nav { padding: 0 0 30px 10px; }
.steps-nav ul { list-style: none outside; float: left; display: inline; background: image_url("dash.png") repeat-x 0 22px; }
.steps-nav ul li { width: 48px; float: left; display: inline; background: #fff; text-align: center; position: relative; padding-bottom: 30px; }
.steps-nav ul li + li { margin-left: 175px; }
.steps-nav ul li small.number { font-size: 26px; line-height: 46px; color: #fff; text-align: center; width: 46px; height: 46px; display: block; background: image_url("ico01.png") no-repeat; }
.steps-nav ul li span { width: 90px; display: block; position: absolute; top: 48px; left: 50%; margin-left: -45px; }
.steps-nav ul li.active small.number { background-image: image_url("ico02.png"); }

.form-section .form-row { padding-bottom: 23px; }
.form-section .labels-row { padding-bottom: 0; }
.form-section label { font-size: 15px; line-height: 37px; color: #000; font-weight: bold; width: 196px; float: left; display: inline; }
.form-section input.field { width: 313px; height: 27px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 10px; float: left; display: inline; margin-right: 21px; }
.form-section textarea { width: 313px; height: 140px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 10px; float: left; display: inline; margin-right: 21px; resize:none; }
.form-section span.error { font-size: 12px; line-height: 24px; color: #000; background: #ff9c00 image_url("tooltip-l.png") no-repeat 0 0; padding: 0 15px 0 20px; float: left; margin-top: 7px; }
.form-section label.check { font-weight: normal; width: auto; padding-left: 33px; margin-left: 196px; position: relative; }
.form-section label.check input { display: none; }
.form-section label.check span { font-size: 0; line-height: 0; text-indent: -4000px; width: 22px; height: 21px; display: block; background: image_url("check.png") no-repeat; position: absolute; top: 50%; left: 0; margin-top: -11px; }
.form-section label.checked span { background-position: 0 bottom; }
.form-section input.submit { font-size: 19px; line-height: 37px; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); width: 117px; height: 37px; display: block; background: #d60000 image_url("submit1.png") no-repeat right center; border: 0; cursor: pointer; padding-right: 12px; }
.form-section input.submit:hover { opacity: 0.9; -moz-opacity: 0.9; filter:alpha(opacity=90); }
.form-section input.btn { font-size: 14px; line-height: 37px; height: 37px; display: block; background-image: image_url("btn2.png"); border: 0; padding: 0 15px; margin-top: 25px; cursor: pointer; }
.form-section input.reset-pwd { font-size: 17px; margin-bottom: 0; }
.form-section small.shorten-url { font-size: 14px; line-height: 36px; color: #bababa; width: 114px; float: left; display: inline; }
.form-section select { width: 334px; }

.email-verify { padding: 15px 0; }
.email-verify h2 { font-size: 41px; line-height: 46px; color: #000; }

.inner-form-section { padding-bottom: 18px; }
.inner-form-section h3 { padding-bottom: 20px; }

.textarea-holder { width: 333px; height: 140px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; float: left; display: inline; position: relative; cursor: text; }
.textarea-holder textarea { width: 303px; min-height: 50px; padding: 10px; display: block; background: transparent; border: 0; resize: none; overflow: hidden; }
.textarea-holder span.error { float: none; position: absolute; right: -190px; top: 0; }

.hiddendiv { font-size: 14px; line-height: 19px; color: #000; display: none; white-space: pre-wrap; word-wrap: break-word; width: 313px; min-height: 50px; }

.labels { padding-left: 196px; }
.labels label.check { font-size: 13px; line-height: 18px; font-weight: bold; margin: 0; padding: 0 15px 0 24px; }
.labels label.check span { width: 18px; height: 18px; background-image:image_url("check-sm.png"); margin-top: -9px; }

.cover-image { width: 184px; height: 184px; float: left; display: inline; background: #f8f8f8; border: 1px solid #e6e7e7; margin-right: 11px; }

.custom-upload { width: 335px; float: left; display: inline; }

.upload-button { width: 335px; height: 37px; position: relative; padding-bottom: 13px; }
.upload-button .fake-upload { font-size: 15px; line-height: 37px; color: #000; font-weight: bold; text-align: center; width: 107px; height: 37px; background: #ddd; position: absolute; top: 0; left: 0; z-index: 1; }
.upload-button input.upload-field { width: 107px; height: 37px; position: absolute; top: 0; left: 0; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); z-index: 2; }
.upload-button input.upload-value { color: #bababa; width: 196px; height: 25px; position: absolute; top: 0; right: 0; margin: 0; }

.upload-info { font-size: 13px; line-height: 16px; color: #000; font-weight: bold; }

.error-msg { font-size: 18px; line-height: 49px; color: #000; text-align: center; width: 335px; height: 49px; background: #ff9900; border: 1px solid #e6e7e7; margin-bottom: 10px; display: none; }

.signin-form .form-row,
.pwd-reset .form-row { padding-bottom: 5px; }
.signin-form label,
.pwd-reset label { width: auto; float: none; display: block; line-height: 30px; }
//.signin-form input.field { float: none; display: block; }
.signin-form input.btn,
.pwd-reset input.btn { margin: 15px 0 35px; }

.signin-support { font-size: 16px; line-height: 20px; padding-bottom: 30px; }
.signin-support a { color: #03539e; }

.reset-message { min-height: 250px; }
.reset-message h2 { font-size: 40px; line-height: 46px; }

.countdown { width: 784px; margin: 0 auto; padding-bottom: 20px; }
.countdown-t { height: 6px; background: image_url("count-t.png") no-repeat; font-size: 0; line-height: 0; text-indent: -4000px; }
.countdown-b { height: 21px; background: image_url("count-b.png") no-repeat 0 bottom; font-size: 0; line-height: 0; text-indent: -4000px; }
.countdown-c { background: image_url("count-c.png") repeat-y; }
.countdown h2 { font-size: 28px; line-height: 36px; color: #f21e1b; text-align: center; padding: 5px 0 10px; border-bottom: 1px solid #d6d6d6; }

.countdown .clock { padding: 21px 43px 27px; width: 695px; }
.countdown .clock .clock_box { width: 133px; float: left; display: inline; margin: 0 20px; }
.countdown .clock .bgLayer { width: 100%; background: image_url("count-bg.png") no-repeat 0 0; position: relative; }
.countdown .clock .text { font-family: 'MyriadPro-Regular', sans-serif; font-size: 14px; line-height: 20px; color: #9d9d9d; text-align: center; text-transform: uppercase; width: 78px; height: 54px; position: absolute; top: 50%; left: 50%; margin: -27px 0 0 -39px; }
.countdown .clock .val { font-family: 'Atilla-Font', sans-serif; font-size: 28px; line-height: 32px; color: #000; font-weight: normal; }

.countdown .info { font-size: 16px; line-height: 22px; color: #000; text-align: center; }
.countdown .info p { padding-bottom: 4px; }
.countdown .info p span { color: #f21e1b; font-size: 20px; }
.countdown .info p a { color: #000; }
.countdown .info h3 { font-size: 22px; line-height: 26px; color: #a9a9a9; }
.countdown .info h3 span { color: #f21e1b; }
.countdown .info .sign-up-options { width: 435px; margin: 0 auto; padding: 17px 0 10px; }
.countdown .info .sign-up-option { padding-right: 0; }
.countdown .info .sign-up-option + .sign-up-option { padding-left: 39px; }

.contestants .col { float: left; display: inline; }
.contestants .col + .col { padding-left: 12px; }
.contestants h3 { font-size: 23px; line-height: 30px; color: #f21e1b; text-align: center; padding-bottom: 15px; position: relative; height: 100%; top: -21px; }

.contestants-list { width: 960px; height: 100%; position: relative; margin: -25px -12px -35px -28px; }

.contestant-entry { float: left; display: block; padding: 0 12px 15px 0; }
.contestant-entry a { display: block; position: relative; height: 100%; padding-bottom: 39px; }
.contestant-entry a > span { font-size: 14px; line-height: 39px; color: #000; text-indent: 17px; width: 100%; height: 39px; display: block; position: absolute; bottom: 0; left: 0; background: #e5e5e5; }
.contestant-entry a img { height: auto; display: block; }
.contestant-entry a strong.event-details { font-size: 18px; line-height: 22px; color: #fff; text-align: center; font-weight: normal; width: 100%; position: absolute; top: 30px; left: 0; }
.contestant-entry a strong.event-details span.date { font-size: 14px; line-height: 18px; padding-top: 15px; display: block; }

.first-contestant,
.first-contestant img { width: 217px; }
.second-contestant,
.second-contestant img { width: 254px; }
.third-contestant,
.third-contestant img { width: 179px; }
.fourth-contestant,
.fourth-contestant img { width: 218px; }

.second-contestant .contestant-entry,
.third-contestant .contestant-entry { padding-bottom: 19px; }

.account { height: 35px; float: right; display: inline; position: relative; padding: 13px 0 20px; }
.account a { font-size: 14px; line-height: 21px; color: #fff; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); height: 21px; padding: 7px 23px 7px 48px; position: relative; display: block; }
.account a img { width: 33px; height: 33px; display: block; border: 1px solid #c7c7c8; position: absolute; top: 0; left: 0; }
.account a span.dd-toggle { width: 14px; height: 14px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background: image_url("dd.png") no-repeat; position: absolute; top: 50%; right: 0; margin-top: -7px; }

.acc-dd { width: 348px; padding: 25px; background: #fff; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; position: absolute; top: 57px; right: 0px; z-index: 10; display: none; }
.acc-dd .user-image { width: 147px; height: 147px; float: left; display: inline; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; }
.acc-dd span.dd-arr { width: 0; height: 0; display: block; border-bottom: 12px solid #fff; border-left: 12px solid transparent; border-right: 12px solid transparent; font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: -12px; right: 64px; }
.acc-dd ul { list-style: none outside; width: 170px; float: right; display: inline; }
.acc-dd ul li { border-bottom: 1px solid #cacaca; }
.acc-dd ul li a { font-size: 15px; line-height: 19px; color: #000; text-shadow: none; font-weight: bold; padding: 10px 0; display: block; }
.acc-dd ul li:first-child a { padding-top: 0; }

.account:hover .acc-dd { display: block; }

.countdown .referal-link { width: 594px; margin: 0 auto; }
.countdown .referal-link h3 { font-size: 24px; line-height: 30px; color: #f21e1b; padding-bottom: 2px; }

.countdown .referal-info { font-size: 16px; line-height: 20px; text-align: left; width: 255px; float: left; display: inline; }
.countdown .referal-info p { padding-bottom: 10px; }
.countdown .referal-info a.learn-more { font-weight: bold; color: #000; text-decoration: underline; }
.countdown .referal-info a.learn-more:hover { text-decoration: none; }

.countdown .referal-link-holder { width: 334px; float: right; display: inline; }
.countdown .referal-link-holder input.field { font-size: 16px; color: #a9a9a9; text-align: center; width: 100%; height: 27px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 0; display: block; margin-bottom: 10px; }
.countdown .referal-link-holder a.copy { font-size: 17px; width: 295px; margin: 0 auto; display: block; margin-bottom: 3px; }
.countdown .referal-link-holder p { font-size: 15px; line-height: 20px; font-weight: bold; }
.countdown .referal-link-holder p span { color: #f21e1b; }

.account-edit > h3 { font-size: 21px; color: #000; padding-bottom: 22px; }

.account-nav { padding: 10px 53px 40px; }
.account-nav h3 { font-size: 21px; line-height: 30px; color: #000; font-weight: bold; float: left; display: inline; padding-right: 36px; }
.account-nav ul { list-style: none outside; float: left; display: inline; }
.account-nav ul li { float: left; display: inline; padding-right: 10px; }
.account-nav ul li a { font-size: 15px; line-height: 30px; color: #000; display: block; padding: 0 8px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
.account-nav ul li a:hover,
.account-nav ul li.active a { background: image_url("btn.png") repeat-x; color: #fff; text-decoration: none; }
.account-nav ul li.active a:hover { background-position: 0 bottom; }

.social-section h3 { padding-bottom: 5px; }
.social-section > p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 15px; }


.form-section .yt-row input.field { width: 200px; }
.form-section .social-row input.field { width: 115px; }

.social-section small.shorten-url { width: 197px; }

.account-edit h3 { padding-bottom: 20px; }
.account-edit .referal-link { padding-bottom: 25px; }
.account-edit .referal-link p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 15px; }
.account-edit .referal-link-holder { padding-bottom: 20px; }
.account-edit .referal-link-holder input.field { font-size: 14px; color: #a9a9a9; width: 313px; height: 25px; background: #f8f8f8; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; padding: 5px 10px; float: left; display: inline; margin-right: 10px; }
.account-edit .referal-link-holder a.copy { font-size: 14px; line-height: 37px; height: 37px; background-image: image_url("btn2.png"); float: left; display: inline; padding: 0 11px; }

.friends-list { padding-bottom: 20px; }
.friends-list h3 { padding-bottom: 10px; }
.friends-list p { font-size: 13px; line-height: 16px; color: #000; padding-bottom: 10px; }
.friends-list p span.count { color: #f21e1b; }
.friends-list .table-holder { width: 492px; padding-bottom: 10px; }
.friends-list table { font-size: 14px; line-height: 18px; color: #000; border: 1px solid #b3b3b3; background: #eee; }
.friends-list table th { padding: 13px 8px; background: #ccc; border-left: 1px solid #bfbfbf; text-align: left; }
.friends-list table th:first-child { border: 0; text-align: center; }
.friends-list table td { padding: 8px; border-left: 1px solid #bfbfbf; }
.friends-list table td:first-child { border: 0; text-align: center; }
.friends-list table tr.even td { background: #fff; }

.referals-list .table-holder { width: 681px; }

.about h2 { font-size: 54px; line-height: 60px; padding-bottom: 25px; }
.about p { font-size: 14px; line-height: 18px; color: #000; padding-bottom: 15px; }

.about-listing { padding-top: 18px; }

.about-entry { padding: 15px 0 15px 132px; border-top: 1px solid #dedede; position: relative; height: 100%; min-height: 110px; }
.about-entry img { width: 116px; height: 107px; display: block; border: 1px solid #e6e7e7; border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -o-border-radius: 1px; position: absolute; top: 15px; left: 0; }
.about-entry h4 { font-size: 15px; line-height: 17px; color: #f21e1b; padding-bottom: 5px; }
.about-entry p { color: #5a5a5a; }

.person-details { font-size: 12px; line-height: 18px; color: #000; }
.person-details em { padding-right: 14px; position: relative; height: 100%; float: left; display: inline; }
.person-details em small.ico { height: 18px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; background-image: image_url("icos.png"); background-repeat: no-repeat; position: absolute; top: 50%; left: 0; margin-top: -9px; }
.person-details em.city { padding-left: 16px; min-width: 137px; }
.person-details em.city small.ico { width: 12px; background-position: 0 center; }
.person-details em.email { padding-left: 26px; min-width: 74px; }
.person-details em.email small.ico { width: 20px; background-position: -16px center; }
.person-details em.twitter { padding-left: 27px; min-width: 80px; }
.person-details em.twitter small.ico { width: 22px; background-position: -37px center; margin-top: -10px; }
.person-details em.website { padding-left: 27px; min-width: 100px; }
.person-details em.website small.ico { width: 18px; background-position: -62px center; }

.contact-form h5 { font-size: 22px; line-height: 25px; color: #000; padding-bottom: 20px; font-weight: normal; }
.contact-form .form-section .labels-row { position: relative; top: -11px; }
.contact-form .form-section input.btn { font-size: 14px; margin: 0 0 0 470px; }

.form-row.tos span.error { float: right; margin-right: 44px; }
.form-row.genre span.error { margin-left: 16px; }