<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account email through the link below:</p>
<%- if @resource.musician? %>
    <p><%= link_to 'Return to Music Mogul to complete my profile', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<%- else %>
    <p><%= link_to 'Return to Music Mogul to complete my profile and audition contestants', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<%- end %>