<div class="flash">
  <%- if notice %>
    <div class="notice">
      <%= notice %>
      <a class="close" href="#">X</a>
    </div>
  <%- end %>
  <%- if alert %>
    <div class="alert">
    <%= alert %>
      <a class="close" href="#">X</a>
    </div>
  <%- end %>
</div>

