<div class="flash">
  <%- if notice %>
    <div class="notice">
      <%= notice %>
      <a class="close" href="#"></a>
    </div>
  <%- end %>
  <%- if alert %>
    <div class="alert">
      <%= alert %>
      <a class="close" href="#"></a>
    </div>
  <%- end %>
  <% if defined?(resource) && resource.errors.present? %>
    <div class="alert">
      The form could not be saved.
      <a class="close" href="#"></a>
    </div>
  <% end %>
</div>

